<div
  *ngIf="{
    translations: translations$ | async,
    dataStoreInformation: dataStoreInformation$ | async,
    systemSettings: systemSettings$ | async
  } as params"
>
  <div class="loading-overlay" *ngIf="saving">
    <div class="text-center">
      <div>{{ params?.translations['Saving'] || 'Saving' }} ....</div>
      <div class="mt-3 d-flex justify-content-center w-100">
        <mat-spinner diameter="50" strokeWidth="2"></mat-spinner>
      </div>
    </div>
  </div>

  <ng-container>
    <mat-progress-bar
      mode="indeterminate"
      *ngIf="!params?.dataStoreInformation || !params?.systemSettings"
    ></mat-progress-bar>

    <h2 mat-dialog-title>
      {{
        params?.translations && params?.translations['Account approval']
          ? params?.translations['Account approval']
          : 'Account approval'
      }}
    </h2>
    <mat-dialog-content class="mat-typography">
      <div style="max-height: 50vh; overflow: auto" class="mt-2">
        <table
          class="table table-bordered"
          *ngIf="
            params?.dataStoreInformation && !params?.dataStoreInformation?.type
          "
        >
          <thead>
            <tr>
              <th>
                {{
                  params?.translations && params?.translations['SN']
                    ? params?.translations['SN']
                    : 'SN'
                }}
              </th>
              <th>
                {{
                  params?.translations && params?.translations['Names']
                    ? params?.translations['Names']
                    : 'Names'
                }}
              </th>
              <th>
                {{
                  params?.translations && params?.translations['Email']
                    ? params?.translations['Email']
                    : 'Email'
                }}
              </th>
              <th>
                {{
                  params?.translations && params?.translations['Phone Number']
                    ? params?.translations['Phone Number']
                    : 'Phone Number'
                }}
              </th>
              <th>
                {{
                  params?.translations && params?.translations['Email']
                    ? params?.translations['Data entry']
                    : 'Data entry'
                }}
              </th>
              <th>
                {{
                  params?.translations && params?.translations['Email']
                    ? params?.translations['Reports']
                    : 'Reports'
                }}
              </th>
              <th>
                {{
                  params?.translations && params?.translations['Time']
                    ? params?.translations['Time']
                    : 'Time'
                }}
              </th>
              <th>
                {{
                  params?.translations && params?.translations['Action']
                    ? params?.translations['Action']
                    : 'Action'
                }}
              </th>
            </tr>
          </thead>
          <tbody *ngIf="params?.dataStoreInformation">
            <ng-container
              *ngFor="
                let user of params?.dataStoreInformation?.payload;
                let count = index
              "
            >
              <tr
                [ngClass]="{
                  'created-user': user?.status == 'CREATED',
                  'approved-user': user?.status == 'APPROVED',
                  'rejected-user': user?.status === 'REJECTED'
                }"
              >
                <td>
                  {{ count + 1 }}
                </td>
                <td>
                  {{ user?.firstName }} {{ user?.surname }}
                  <span *ngIf="user?.username">({{ user?.username }})</span>
                </td>
                <td>
                  {{ user?.email }}
                </td>
                <td>
                  {{ user?.phoneNumber }}
                </td>
                <td>
                  <span *ngFor="let orgUnit of user?.organisationUnits">
                    {{ orgUnit?.name }},
                  </span>
                </td>

                <td>
                  <span *ngFor="let orgUnit of user?.dataViewOrganisationUnits">
                    {{ orgUnit?.name }},
                  </span>
                </td>

                <td>
                  {{ dialogData?.request?.timeSinceResponseSent }}
                </td>
                <td>
                  <button
                    class="ml-2"
                    mat-stroked-button
                    (click)="
                      onAccountApprove(
                        $event,
                        user,
                        params?.dataStoreInformation,
                        dialogData?.configurations?.useTier2
                      )
                    "
                  >
                    {{
                      dialogData?.isFeedbackRecepient &&
                      dialogData?.configurations?.useTier2
                        ? 'First confirmation'
                        : !dialogData?.configurations?.useTier2
                        ? user?.status === 'CREATED' ||
                          (user?.status === 'APPROVED' &&
                            dialogData?.configurations?.useTier2)
                          ? 'View'
                          : 'Select'
                        : 'Confirm'
                    }}
                  </button>
                </td>
              </tr>
              <ng-container
                *ngIf="
                  user?.status === 'REJECTED' &&
                  selectedRequestForApproval?.referenceId === user?.referenceId
                "
              >
                <tr>
                  <td colspan="100%">
                    <div>
                      <p>
                        Status: <b>{{ user?.status }}</b>
                      </p>
                      <p>
                        Reason:
                        <b>
                          {{ user?.reason }}
                        </b>
                      </p>
                    </div>
                  </td>
                </tr></ng-container
              >
              <ng-container
                *ngIf="
                  user?.status !== 'CREATED' && user?.status !== 'REJECTED'
                "
              >
                <tr
                  *ngIf="
                    ((user?.status == 'APPROVED' &&
                      dialogData?.configurations?.useTier2) ||
                      !dialogData?.configurations?.useTier2) &&
                    selectedRequestForApproval?.referenceId ===
                      user?.referenceId
                  "
                  [ngClass]="{
                    'created-user': user?.status == 'CREATED',
                    'approved-user': user?.status == 'APPROVED'
                  }"
                >
                  <td colspan="5">
                    <app-username-form-field
                      [user]="user"
                      [count]="count"
                      (validityCheckMessage)="onGetvalidityCheckMessage($event)"
                      (usernameData)="onGetUsernameData($event)"
                      (usernameValid)="onGetUsernameValidity($event)"
                    ></app-username-form-field>
                  </td>
                  <td colspan="3">
                    <mat-progress-bar
                      mode="indeterminate"
                      *ngIf="checkingForPotentialDuplicates"
                    ></mat-progress-bar>
                    <div class="d-flex justify-content-end">
                      <button
                        [disabled]="
                          checkingForPotentialDuplicates ||
                          (potentialDuplicatesByUserRequest[
                            user?.referenceId
                          ] &&
                            potentialDuplicatesByUserRequest[user?.referenceId]
                              ?.length > 0)
                        "
                        mat-stroked-button
                        (click)="onCheckPotentialDuplicate($event, user)"
                      >
                        Check duplicate
                      </button>
                      <button
                        mat-stroked-button
                        class="ml-2"
                        (click)="
                          onViewPotentialDuplicates(
                            $event,
                            potentialDuplicatesByUserRequest[user?.referenceId]
                          )
                        "
                        *ngIf="
                          potentialDuplicatesByUserRequest[user?.referenceId] &&
                          potentialDuplicatesByUserRequest[user?.referenceId]
                            ?.length > 0
                        "
                      >
                        {{
                          params?.translations &&
                          params?.translations['View potential duplicates']
                            ? params?.translations['View potential duplicates']
                            : 'View potential duplicates'
                        }}
                      </button>
                      <button
                        class="ml-2"
                        *ngIf="dialogData?.isFeedbackRecepient"
                        [disabled]="
                          checkingForPotentialDuplicates ||
                          user?.status === 'CREATED' ||
                          !isCurrentUsernameValid ||
                          !currentUsername ||
                          !params?.systemSettings
                        "
                        mat-flat-button
                        color="primary"
                        (click)="
                          onApprove(
                            $event,
                            user,
                            params?.dataStoreInformation,
                            'approve',
                            params?.systemSettings
                          )
                        "
                      >
                        {{
                          params?.translations &&
                          params?.translations['Confirm']
                            ? params?.translations['Confirm']
                            : 'Confirm'
                        }}
                      </button>
                      <button
                        class="ml-2"
                        *ngIf="dialogData?.isFeedbackRecepient"
                        [disabled]="
                          checkingForPotentialDuplicates ||
                          user?.status === 'CREATED' ||
                          !params?.systemSettings
                        "
                        mat-flat-button
                        color="warn"
                        (click)="
                          onApprove(
                            $event,
                            user,
                            params?.dataStoreInformation,
                            'reject',
                            params?.systemSettings
                          )
                        "
                      >
                        {{
                          params?.translations && params?.translations['Reject']
                            ? params?.translations['Reject']
                            : 'Reject'
                        }}
                      </button>
                    </div>
                    <div
                      class="text-warning text-right"
                      *ngIf="
                        potentialDuplicatesByUserRequest[user?.referenceId] &&
                        potentialDuplicatesByUserRequest[user?.referenceId]
                          ?.length == 0
                      "
                    >
                      {{
                        params?.translations &&
                        params?.translations['No potential duplicate']
                          ? params?.translations['No potential duplicate']
                          : 'No potential duplicate'
                      }}
                    </div>
                    <div class="text-danger mt-2">
                      {{ validityCheckMessage }}
                    </div>
                  </td>
                </tr>
              </ng-container>
            </ng-container>
          </tbody>
        </table>
        <div
          *ngIf="
            params?.dataStoreInformation && params?.dataStoreInformation?.type
          "
        >
          <div
            [innerHTML]="params?.dataStoreInformation?.message?.message"
          ></div>
        </div>
      </div>
    </mat-dialog-content>
    <mat-dialog-actions
      align="end"
      *ngIf="params?.dataStoreInformation && params?.dataStoreInformation?.type"
    >
      <button mat-button (click)="onClose($event)">
        {{
          params?.translations && params?.translations['Cancel']
            ? params?.translations['Cancel']
            : 'Cancel'
        }}
      </button>
      <button
        class="ml-2"
        mat-flat-button
        color="primary"
        (click)="onUpdateUser($event, params?.dataStoreInformation)"
      >
        {{
          params?.translations && params?.translations['Confirm']
            ? params?.translations['Confirm']
            : 'Confirm'
        }}
      </button>
    </mat-dialog-actions>
  </ng-container>
</div>
