<div class="loading-overlay" *ngIf="saving">
  <div class="text-center">
    <div>Saving ....</div>
    <div class="mt-3 d-flex justify-content-center w-100">
      <mat-spinner diameter="50" strokeWidth="2"></mat-spinner>
    </div>
  </div>
</div>
<div
  class="approve-accounts-modal"
  *ngIf="{ dataStoreInformation: dataStoreInformation$ | async } as params"
>
  <mat-progress-bar
    mode="indeterminate"
    *ngIf="!params?.dataStoreInformation"
  ></mat-progress-bar>
  <div class="h4">Accounts to approve</div>
  <div style="max-height: 50vh; overflow: auto">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>SN</th>
          <th>Names</th>
          <th>Time</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody *ngIf="params?.dataStoreInformation">
        <ng-container
          *ngFor="
            let user of params?.dataStoreInformation?.payload;
            let count = index
          "
        >
          <tr [ngClass]="{ 'created-user': user?.status == 'CREATED' }">
            <td>
              {{ count + 1 }}
            </td>
            <td>{{ user?.firstName }} {{ user?.surname }}</td>
            <td>
              {{ dialogData?.timeSinceResponseSent }}
            </td>
            <td>
              <button
                [disabled]="user?.status === 'CREATED'"
                mat-flat-button
                (click)="onApprove($event, user, params?.dataStoreInformation)"
              >
                Confirm
              </button>
            </td>
          </tr>
        </ng-container>
      </tbody>
    </table>
  </div>
  <div class="w-100 d-flex justify-content-end mt-2">
    <button mat-stroked-button (click)="onClose($event)">Cancel</button>
  </div>
</div>
