<div
  *ngIf="{ allDataForUserSupport: allDataForUserSupport$ | async } as params"
>
  <div class="h5 feedback-header">User feedback</div>

  <div
    *ngIf="
      params?.allDataForUserSupport &&
      params?.allDataForUserSupport?.data?.length > 0
    "
  >
    <table class="table mat-elevation-z1 p-2">
      <thead class="custom-header-bg">
        <tr>
          <th style="width: 15px">SN</th>
          <th>Request</th>
          <th>Date</th>
          <th style="width: 200px">Actions</th>
        </tr>
      </thead>
      <tbody>
        <ng-container
          *ngFor="
            let dataRow of params?.allDataForUserSupport?.data;
            let count = index
          "
        >
          <ng-container
            *ngIf="
              !dataRow?.type ||
              (dataRow?.type && dataRow?.type !== 'VALIDATION_RULE_REQUEST')
            "
          >
            <tr>
              <td>{{ count + 1 }}</td>
              <td>
                {{ dataRow?.action }}
              </td>
              <td>
                {{ dataRow?.timeSinceResponseSent }}
              </td>
              <td>
                <div class="d-flex justify-content-end">
                  <button
                    class="details-toggle"
                    mat-stroked-button
                    (click)="toggleViewMore($event, dataRow)"
                  >
                    {{
                      moreOpenedDetails[dataRow?.id] ? 'Back' : 'View Details'
                    }}
                  </button>
                </div>
              </td>
            </tr>
            <tr *ngIf="moreOpenedDetails[dataRow?.id]">
              <td></td>
              <td colspan="100%">
                <div class="w-100 d-flex justify-content-between">
                  <div style="width: 85%" class="more-contents">
                    <div
                      class="h6"
                      [ngClass]="{ 'text-danger': dataRow?.shouldAlert }"
                    >
                      <span>{{ dataRow?.message?.subject }}</span>
                      <span class="ml-4" *ngIf="dataRow?.user">
                        From {{ dataRow?.user?.displayName }}
                        <span *ngIf="dataRow?.user?.phoneNumber">
                          ({{ dataRow?.user?.phoneNumber }})
                        </span>
                      </span>
                    </div>
                    <div [innerHtml]="dataRow?.message?.message"></div>
                  </div>
                  <div style="width: 15%">
                    <p
                      *ngIf="dataRow?.shouldAlert"
                      class="text-center"
                      [ngClass]="{ 'text-danger': dataRow?.shouldAlert }"
                    >
                      This is alerting request. Approve only when you have
                      confirmed
                    </p>
                    <button
                      mat-stroked-button
                      (click)="onApprove($event, dataRow)"
                      class="btn-success float-right mt-5 ml-2"
                    >
                      Approve
                    </button>
                    <button
                      mat-stroked-button
                      (click)="onReject($event, dataRow)"
                      class="btn-danger float-right mt-5 ml-2"
                    >
                      Reject
                    </button>
                  </div>
                </div>
              </td>
            </tr>
          </ng-container>
        </ng-container>
      </tbody>
    </table>
  </div>
  <div
    style="padding: 15% 10%"
    *ngIf="
      params?.allDataForUserSupport &&
      params?.allDataForUserSupport?.data?.length === 0
    "
  >
    <div style="border: solid 1px #eee; height: 20%"></div>
    <div class="alert alert-warning mt-2" role="alert">
      No any feedback to attend
    </div>
  </div>
  <mat-progress-bar
    mode="indeterminate"
    *ngIf="!params?.allDataForUserSupport"
  ></mat-progress-bar>
</div>
