button {
  outline: none;
}

button:hover {
  outline: none;
}

.more-contents {
  padding: 8px 8px !important;
  background-color: #eeeeee75;
}

.feedback-header {
  padding: 8px 4px;
  border-bottom: solid 1px #eee;
  width: 100%;
}

.details-toggle {
  min-width: 120px !important;
}
