<div
  *ngIf="{ allDataForUserSupport: allDataForUserSupport$ | async } as params"
>
  <div class="h5 feedback-header">User feedback</div>

  <div
    *ngIf="
      params?.allDataForUserSupport &&
      params?.allDataForUserSupport?.data?.length > 0
    "
  >
    <table class="table mat-elevation-z1 p-2">
      <thead>
        <tr>
          <td style="width: 15px">SN</td>
          <td>Request</td>
          <td style="width: 200px">Actions</td>
        </tr>
      </thead>
      <tbody>
        <ng-container
          *ngFor="
            let dataRow of params?.allDataForUserSupport?.data;
            let count = index
          "
        >
          <tr>
            <td>{{ count + 1 }}</td>
            <td>
              {{ dataRow?.action }}
            </td>
            <td>
              <div class="d-flex justify-content-end">
                <button
                  class="details-toggle"
                  mat-stroked-button
                  (click)="toggleViewMore($event, dataRow)"
                >
                  {{ moreOpenedDetails[dataRow?.id] ? 'Back' : 'View Details' }}
                </button>
              </div>
            </td>
          </tr>
          <tr *ngIf="moreOpenedDetails[dataRow?.id]">
            <td></td>
            <td colspan="100%">
              <div class="w-100 d-flex justify-content-between">
                <div style="width: 90%" class="more-contents">
                  <div class="h6">
                    {{ dataRow?.message?.subject }}
                  </div>
                  <div [innerHtml]="dataRow?.message?.message"></div>
                </div>
                <div style="width: 10%">
                  <button
                    mat-stroked-button
                    (click)="onApprove($event, dataRow)"
                    class="btn-success float-right"
                  >
                    Approve
                  </button>
                </div>
              </div>
            </td>
          </tr>
        </ng-container>
      </tbody>
    </table>
  </div>
  <div
    style="padding: 15% 10%"
    *ngIf="
      params?.allDataForUserSupport &&
      params?.allDataForUserSupport?.data?.length === 0
    "
  >
    <div style="border: solid 1px #eee; height: 20%"></div>
    <div class="alert alert-warning mt-2" role="alert">
      No any feedback to attend
    </div>
  </div>
  <mat-progress-bar
    mode="indeterminate"
    *ngIf="!params?.allDataForUserSupport"
  ></mat-progress-bar>
</div>
