<div class="merged-datasets-container">
  <div class="w-100 mt-2">
    <mat-form-field class="w-50">
      <mat-label>{{ 'Search' | translate }} </mat-label>
      <mat-icon matPrefix>search</mat-icon>
      <input matInput [(ngModel)]="searchingText" />
    </mat-form-field>
  </div>
  <div style="max-height: 400px; overflow: auto">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th style="width: 30px">{{ 'SN' | translate }}</th>
          <th>{{ 'Dataset' | translate }}/{{ 'Form' | translate }}</th>
          <th style="width: 120px">{{ 'Category' | translate }}</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <ng-container
          *ngIf="(mergedDataSets | searchItem : searchingText).length > 0"
        >
          <ng-container
            *ngFor="
              let mergedDataSet of mergedDataSets | searchItem : searchingText;
              let count = index
            "
          >
            <tr>
              <td>
                {{ count + 1 }}
              </td>
              <td [ngStyle]="{ color: mergedDataSet?.assigned ? '' : '#F00' }">
                {{ mergedDataSet?.name }}
              </td>
              <td>
                <ng-container
                  *ngIf="mergedDataSet?.categoryOptions?.length > 0"
                >
                  <app-dataset-categories
                    [organisationUnit]="facility"
                    [categoryOptions]="mergedDataSet?.categoryOptions"
                    (categoryOptionsUpdateInfo)="
                      onGetCategoryOptionsUpdateInfo($event, mergedDataSet)
                    "
                    [dataSetAttributesData]="dataSetAttributesData"
                    (categoriesHasAssignedOu)="
                      getIfHasAssignedOuForCategories($event, mergedDataSet)
                    "
                  ></app-dataset-categories>
                </ng-container>
              </td>
              <td>
                <button
                  class="actions-btn"
                  [ngClass]="{
                    'btn-success':
                      (!mergedDataSet?.assigned &&
                        !mergedDataSet?.hasPendingRequest) ||
                      (mergedDataSet?.assigned &&
                        mergedDataSet?.categoryOptions?.length > 0),
                    'btn-danger':
                      mergedDataSet?.assigned &&
                      mergedDataSet?.categoryOptions?.length === 0 &&
                      !mergedDataSet?.hasPendingRequest
                  }"
                  [disabled]="
                    mergedDataSet?.hasPendingRequest ||
                    (!attributeBasedDataSetSelections[mergedDataSet?.id] &&
                      !categoriesHasAssignedOu[mergedDataSet?.id] &&
                      mergedDataSet?.categoryOptions?.length > 0)
                  "
                  [ngStyle]="{
                    cursor:
                      mergedDataSet?.hasPendingRequest ||
                      (!attributeBasedDataSetSelections[mergedDataSet?.id] &&
                        mergedDataSet?.categoryOptions?.length > 0 &&
                        !categoriesHasAssignedOu[mergedDataSet?.id])
                        ? 'not-allowed'
                        : 'pointer'
                  }"
                  (click)="
                    toggleAssignment(
                      $event,
                      mergedDataSet,
                      mergedDataSets,
                      mergedDataSet?.assigned &&
                        mergedDataSet?.categoryOptions?.length > 0
                        ? 'Update'
                        : mergedDataSet?.assigned &&
                          mergedDataSet?.categoryOptions?.length === 0
                        ? 'Remove'
                        : 'Assign'
                    )
                  "
                  [title]="
                    !attributeBasedDataSetSelections[mergedDataSet?.id] &&
                    mergedDataSet?.categoryOptions?.length > 0
                      ? 'Please define Sub-forms'
                      : ''
                  "
                >
                  {{
                    (mergedDataSet?.assigned &&
                    mergedDataSet?.categoryOptions?.length > 0
                      ? 'Update'
                      : mergedDataSet?.assigned &&
                        !mergedDataSet?.hasPendingRequest
                      ? 'Remove'
                      : !mergedDataSet?.assigned &&
                        !mergedDataSet?.hasPendingRequest
                      ? 'Assign'
                      : mergedDataSet?.forAddition
                      ? 'Waiting assignment'
                      : 'Waiting un-assignment'
                    ) | translate
                  }}
                </button>
                <button
                  *ngIf="
                    mergedDataSet?.assigned &&
                    mergedDataSet?.categoryOptions?.length > 0
                  "
                  class="actions-btn btn-danger ml-2"
                  (click)="
                    toggleAssignment(
                      $event,
                      mergedDataSet,
                      mergedDataSets,
                      mergedDataSet?.assigned ? 'Remove' : 'Assign'
                    )
                  "
                >
                  {{ 'Remove' | translate }}
                </button>
                <a
                  *ngIf="mergedDataSet?.hasPendingRequest"
                  class="ml-2 cancel-request"
                  (click)="
                    onCancelRequest(
                      $event,
                      mergedDataSet,
                      mergedDataSets,
                      false
                    )
                  "
                  >{{ 'Cancel' | translate }}</a
                >
                <span
                  *ngIf="
                    showConfirmingButtons &&
                    mergedDataSet?.id === currentDataset?.id
                  "
                >
                  <button
                    mat-button
                    (click)="onUnConfirm($event)"
                    class="ml-2 btn-danger"
                  >
                    {{ 'Cancel' | translate }}
                  </button>
                  <button
                    mat-button
                    class="ml-2 btn-success"
                    (click)="
                      onCancelRequest(
                        $event,
                        mergedDataSet,
                        mergedDataSets,
                        true
                      )
                    "
                  >
                    {{ 'Confirm' | translate }}
                  </button>
                </span>
                <div
                  class="w-100"
                  *ngIf="
                    updatingRequest && mergedDataSet?.id === currentDataset?.id
                  "
                >
                  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
                </div>
              </td>
            </tr>
          </ng-container>
        </ng-container>

        <ng-container
          *ngIf="(mergedDataSets | searchItem : searchingText).length === 0"
        >
          <tr>
            <td colspan="100%">
              <div class="alert alert-warning" role="alert">
                {{ 'No item Matching the search' | translate }}
              </div>
            </td>
          </tr>
        </ng-container>
      </tbody>
    </table>
  </div>
</div>
