<div class="merged-datasets-container" *ngIf="{
  translations: translations$ | async,
} as params">
  <div class="w-100 mt-2">
    <mat-form-field class="w-50">
      <mat-label>{{ params?.translations['Search'] || 'Search' }} </mat-label>
      <mat-icon matPrefix>search</mat-icon>
      <input matInput [(ngModel)]="searchingText" />
    </mat-form-field>
  </div>
  <div>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th style="width: 30px">{{ params?.translations['SN'] || 'SN' }}</th>
          <th>{{ params?.translations['Dataset'] || 'Dataset' }}/{{ params?.translations['Form'] || 'Form'}}</th>
          <th>{{ params?.translations['Type'] || 'Type' }}</th>
          <th style="width: 120px">{{ params?.translations['Category'] || 'Category' }}</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <ng-container
          *ngIf="(mergedReportingTools | searchItem : searchingText).length > 0"
        >
          <ng-container
            *ngFor="
              let mergedRepprtingTool of mergedReportingTools
                | searchItem : searchingText;
              let count = index
            "
          >
            <tr>
              <td>
                {{ count + 1 }}
              </td>
              <td
                [ngStyle]="{
                  color: mergedRepprtingTool?.assigned ? '' : '#F00'
                }"
              >
                {{ mergedRepprtingTool?.name }}
              </td>

              <td style="width: 30px">{{ mergedRepprtingTool?.type }}</td>
              <td>
                <ng-container
                  *ngIf="mergedRepprtingTool?.categoryOptions?.length > 0"
                >
                  <app-dataset-categories
                    [organisationUnit]="facility"
                    [categoryOptions]="mergedRepprtingTool?.categoryOptions"
                    (categoryOptionsUpdateInfo)="
                      onGetCategoryOptionsUpdateInfo(
                        $event,
                        mergedRepprtingTool
                      )
                    "
                    [dataSetAttributesData]="dataSetAttributesData"
                    (categoriesHasAssignedOu)="
                      getIfHasAssignedOuForCategories(
                        $event,
                        mergedRepprtingTool
                      )
                    "
                  ></app-dataset-categories>
                </ng-container>
              </td>
              <td>
                <button
                  class="actions-btn"
                  [ngClass]="{
                    'btn-success':
                      (!mergedRepprtingTool?.assigned &&
                        !mergedRepprtingTool?.hasPendingRequest) ||
                      (mergedRepprtingTool?.assigned &&
                        mergedRepprtingTool?.categoryOptions?.length > 0),
                    'btn-danger':
                      mergedRepprtingTool?.assigned &&
                      (mergedRepprtingTool?.categoryOptions?.length === 0 ||
                        mergedRepprtingTool?.type === 'program') &&
                      !mergedRepprtingTool?.hasPendingRequest
                  }"
                  [disabled]="
                    mergedRepprtingTool?.hasPendingRequest ||
                    (!attributeBasedDataSetSelections[
                      mergedRepprtingTool?.id
                    ] &&
                      !categoriesHasAssignedOu[mergedRepprtingTool?.id] &&
                      mergedRepprtingTool?.categoryOptions?.length > 0)
                  "
                  [ngStyle]="{
                    cursor:
                      mergedRepprtingTool?.hasPendingRequest ||
                      (!attributeBasedDataSetSelections[
                        mergedRepprtingTool?.id
                      ] &&
                        mergedRepprtingTool?.type === 'dataset' &&
                        mergedRepprtingTool?.categoryOptions?.length > 0 &&
                        !categoriesHasAssignedOu[mergedRepprtingTool?.id])
                        ? 'not-allowed'
                        : 'pointer'
                  }"
                  (click)="
                    toggleAssignment(
                      $event,
                      mergedRepprtingTool,
                      mergedReportingTools,
                      mergedRepprtingTool?.assigned &&
                        mergedRepprtingTool?.categoryOptions?.length > 0
                        ? 'Update'
                        : mergedRepprtingTool?.assigned
                        ? 'Remove'
                        : 'Assign'
                    )
                  "
                  [title]="
                    !attributeBasedDataSetSelections[mergedRepprtingTool?.id] &&
                    mergedRepprtingTool?.categoryOptions?.length > 0
                      ? 'Please define Sub-forms'
                      : ''
                  "
                >
                  {{
                    (mergedRepprtingTool?.assigned &&
                    mergedRepprtingTool?.categoryOptions?.length > 0
                      ? params?.translations['Update'] || 'Update'
                      : mergedRepprtingTool?.assigned &&
                        !mergedRepprtingTool?.hasPendingRequest
                      ? params?.translations['Remove'] || 'Remove'
                      : !mergedRepprtingTool?.assigned &&
                        !mergedRepprtingTool?.hasPendingRequest
                      ? params?.translations['Assign'] || 'Assign'
                      : mergedRepprtingTool?.forAddition
                      ? params?.translations['Waiting assignment'] || 'Waiting assignment'
                      : params?.translations['Waiting un-assignment'] || 'Waiting un-assignment'
                    )
                  }}
                </button>
                <button
                  *ngIf="
                    mergedRepprtingTool?.assigned &&
                    mergedRepprtingTool?.categoryOptions?.length > 0
                  "
                  class="actions-btn btn-danger ml-2 actions-btn-remove"
                  (click)="
                    toggleAssignment(
                      $event,
                      mergedRepprtingTool,
                      mergedReportingTools,
                      mergedRepprtingTool?.assigned ? 'Remove' : 'Assign'
                    )
                  "
                >
                  {{ params?.translations['Remove'] || 'Remove' }}
                </button>
                <a
                  *ngIf="mergedRepprtingTool?.hasPendingRequest"
                  class="ml-2 cancel-request"
                  (click)="
                    onCancelRequest(
                      $event,
                      mergedRepprtingTool,
                      mergedReportingTools,
                      false
                    )
                  "
                  >{{ params?.translations['Cancel'] || 'Cancel' }}</a
                >
                <span
                  *ngIf="
                    showConfirmingButtons &&
                    mergedRepprtingTool?.id === currentDataset?.id
                  "
                >
                  <button
                    mat-button
                    (click)="onUnConfirm($event)"
                    class="ml-2 btn-danger"
                  >
                    {{ params?.translations['Cancel'] || 'Cancel' }}
                  </button>
                  <button
                    mat-button
                    class="ml-2 btn-success"
                    (click)="
                      onCancelRequest(
                        $event,
                        mergedRepprtingTool,
                        mergedReportingTools,
                        true
                      )
                    "
                  >
                    {{ params?.translations['Confirm'] || 'Confirm' }}
                  </button>
                </span>
                <div
                  class="w-100"
                  *ngIf="
                    updatingRequest &&
                    mergedRepprtingTool?.id === currentDataset?.id
                  "
                >
                  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
                </div>
              </td>
            </tr>
          </ng-container>
        </ng-container>

        <ng-container
          *ngIf="
            (mergedReportingTools | searchItem : searchingText).length === 0
          "
        >
          <tr>
            <td colspan="100%">
              <div class="alert alert-warning" role="alert">
                {{ params?.translations['No item Matching the search'] || 'No item Matching the search' }}
              </div>
            </td>
          </tr>
        </ng-container>
      </tbody>
    </table>
  </div>
</div>
