<ng-container *ngIf="{ resources: resources$ | async } as params">
  <mat-progress-bar
    mode="indeterminate"
    *ngIf="!params?.resources"
  ></mat-progress-bar>
  <table class="table table-bordered">
    <tbody>
      <tr>
        <td class="w-50">
          <div class="items-list-header text-muted">Available items</div>
          <div class="items-container">
            <div
              class="list-item text-left"
              *ngFor="
                let available of params?.resources | filterItems : selectedItems
              "
              (click)="onSelectItem($event, available, 'select')"
            >
              {{ available?.name }}
            </div>
          </div>
          <div class="w-100 d-flex justify-content-center">
            <button mat-button (click)="onSelectAll($event, params?.resources)">
              Select all
            </button>
          </div>
        </td>
        <td class="w-50">
          <div class="items-list-header text-muted">Selected items</div>
          <div class="items-container">
            <div
              class="list-item text-left"
              *ngFor="let item of selectedItems"
              (click)="onSelectItem($event, item, 'un-select')"
            >
              {{ item?.name }}
            </div>
          </div>

          <div class="w-100 d-flex justify-content-center">
            <button mat-button (click)="onDeselectSelectAll($event)">
              Remove all
            </button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</ng-container>
