<div
  *ngIf="{
    configurations: configurations$ | async,
    systemConfigs: systemConfigs$ | async,
    currentUser: currentUser$ | async
  } as params"
>
  <mat-progress-bar
    mode="indeterminate"
    *ngIf="
      !params?.configurations || !params?.currentUser || !params?.systemConfigs
    "
  ></mat-progress-bar>
  <div
    *ngIf="
      params?.configurations && params?.currentUser && params?.systemConfigs
    "
  >
    <app-request-user-accounts
      [configurations]="params?.configurations"
      [systemConfigs]="params?.systemConfigs"
      [currentUser]="params?.currentUser"
    ></app-request-user-accounts>
  </div>
</div>
