<div
  class="feedback-container"
  *ngIf="{
    userSupportKeys: userSupportKeys$ | async,
    orgUnitLevels: orgUnitLevels$ | async
  } as params"
>
  <div
    class="w-100"
    *ngIf="configurations?.showToggleFeedbackAndRequests && isFeedbackRecepient"
  >
    <mat-slide-toggle
      class="float-right"
      [color]="color"
      (click)="toggleSupport($event)"
      [checked]="showRequest ? true : false"
    >
      {{ showRequest ? 'Feebacks' : 'Requests' }}
    </mat-slide-toggle>
  </div>
  <app-facilities-list
    *ngIf="
      !isFeedbackRecepient && params?.userSupportKeys && params?.orgUnitLevels
    "
    [currentUser]="currentUser"
    [configurations]="configurations"
    [systemConfigs]="systemConfigs"
    [orgUnitLevels]="params?.orgUnitLevels"
    [userSupportKeys]="params?.userSupportKeys"
    (dataStoreChanged)="onDataStoreChange($event)"
  ></app-facilities-list>
  <app-feedbacks-list
    *ngIf="isFeedbackRecepient && params?.userSupportKeys"
    [currentUser]="currentUser"
    [configurations]="configurations"
    [systemConfigs]="systemConfigs"
    [userSupportKeys]="params?.userSupportKeys"
  >
  </app-feedbacks-list>

  <mat-progress-bar
    mode="indeterminate"
    *ngIf="
      !params?.userSupportKeys ||
      !params?.userSupportKeys ||
      !params?.orgUnitLevels
    "
  ></mat-progress-bar>
</div>
