<div
  class="feedback-container"
  *ngIf="{
    userSupportKeys: userSupportKeys$ | async,
    orgUnitLevels: orgUnitLevels$ | async
  } as params"
>
  <div
    class="w-100"
    *ngIf="configurations?.showToggleFeedbackAndRequests && isFeedbackRecepient"
  >
    <mat-slide-toggle
      class="float-right"
      [color]="color"
      (click)="toggleSupport($event)"
      [checked]="showRequest ? true : false"
    >
      {{ showRequest ? 'Feebacks' : 'Requests' }}
    </mat-slide-toggle>
  </div>
  <div
    *ngIf="
      !isFeedbackRecepient && params?.userSupportKeys && params?.orgUnitLevels
    "
  >
    <mat-tab-group
      mat-align-tabs="start"
      (selectedTabChange)="changeTab(selectedTab.value)"
      [selectedIndex]="selectedTab.value"
      (selectedIndexChange)="selectedTab.setValue($event)"
    >
      <mat-tab label="Facilities">
        <div *ngIf="selectedTab.value === 0" class="mt-2">
          <app-facilities-list
            [currentUser]="currentUser"
            [configurations]="configurations"
            [systemConfigs]="systemConfigs"
            [orgUnitLevels]="params?.orgUnitLevels"
            [userSupportKeys]="params?.userSupportKeys"
            (dataStoreChanged)="onDataStoreChange($event)"
          ></app-facilities-list>
        </div>
      </mat-tab>
      <mat-tab label="Datasets">
        <div *ngIf="selectedTab.value === 1" class="mt-2">
          <app-datasets-list
            [currentUser]="currentUser"
            [configurations]="configurations"
            [systemConfigs]="systemConfigs"
          ></app-datasets-list>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
  <app-feedbacks-list
    *ngIf="isFeedbackRecepient && params?.userSupportKeys"
    [currentUser]="currentUser"
    [configurations]="configurations"
    [systemConfigs]="systemConfigs"
    [userSupportKeys]="params?.userSupportKeys"
  >
  </app-feedbacks-list>

  <mat-progress-bar
    mode="indeterminate"
    *ngIf="
      !params?.userSupportKeys ||
      !params?.userSupportKeys ||
      !params?.orgUnitLevels
    "
  ></mat-progress-bar>
</div>
