<div
  class="facilities-list-container"
  *ngIf="{ reportingToolsResponse: reportingToolsResponse$ | async } as params"
>
  <div class="w-100">
    <mat-form-field class="w-25">
      <mat-label>Search </mat-label>
      <mat-icon matPrefix>search</mat-icon>
      <input matInput (keyup)="searchFacility($event)" />
    </mat-form-field>
  </div>

  <div *ngIf="params?.reportingToolsResponse">
    <table class="table mat-elevation-z1" style="height: 100%; overflow: auto">
      <thead>
        <tr>
          <th style="width: 15px">SN</th>
          <th>Facility</th>
          <th style="width: 30px">Data sets</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="
            let dataRow of params?.reportingToolsResponse?.data;
            let count = index
          "
        >
          <td>
            {{
              count +
                1 +
                (params?.reportingToolsResponse?.pagination?.page - 1) *
                  pageCount
            }}
          </td>
          <td>
            {{
              dataRow?.parent && dataRow?.parent?.parent
                ? dataRow?.parent?.parent?.name + ', '
                : ''
            }}
            {{ dataRow?.parent ? dataRow?.parent?.name + ', ' : '' }}
            {{ dataRow?.name }}
          </td>
          <td>{{ dataRow?.dataSets }}</td>
          <td>
            <div class="d-flex justify-content-end">
              <div
                class="w-25"
                style="font-size: 0.8rem"
                *ngIf="dataRow?.hasPendingRequest"
              >
                <!-- {{ dataRow | json }} -->
                <mat-chip-list>
                  <mat-chip>
                    {{ dataRow?.timeSinceResponseSent }}
                  </mat-chip>
                </mat-chip-list>
              </div>
              <div class="w-75">
                <div class="w-100 d-flex justify-content-end">
                  <div class="w-50">
                    <button
                      (click)="
                        openRequestFormModal(
                          $event,
                          dataRow,
                          userSupportKeys,
                          systemConfigs,
                          currentUser
                        )
                      "
                      mat-stroked-button
                      [ngClass]="{
                        'disabled-button': dataRow?.hasPendingRequest
                      }"
                      class="action-btns"
                      [title]="
                        dataRow?.hasPendingRequest ? 'Waiting for response' : ''
                      "
                    >
                      {{ dataRow?.hasPendingRequest ? 'View' : 'Request form' }}
                    </button>
                  </div>
                  <div class="w-50">
                    <div class="w-100 d-flex justify-content-left">
                      <button
                        style="color: red"
                        mat-stroked-button
                        (click)="onCancelAll($event, dataRow, dataRow, false)"
                        *ngIf="dataRow?.hasPendingRequest"
                      >
                        Cancel
                      </button>
                    </div>
                    <div class="w-100" *ngIf="dataRow?.hasPendingRequest">
                      <app-rejected-form-requests-summary
                        [keys]="dataRow?.keys"
                      ></app-rejected-form-requests-summary>
                    </div>
                    <div
                      class="w-100 mt-2"
                      *ngIf="
                        showConfirmButtons && dataRow?.id === currentOrgUnit?.id
                      "
                    >
                      <div class="w-100">
                        <mat-form-field class="w-100">
                          <mat-label>Reason for cancelling</mat-label>
                          <textarea
                            [(ngModel)]="reasonForCancellingRequest"
                            required
                            matInput
                            placeholder="E.g Nilituma kimakosa"
                          ></textarea>
                        </mat-form-field>
                      </div>
                      <div class="w-100">
                        <button
                          mat-button
                          (click)="onUnConfirm($event)"
                          class="ml-2 btn-danger"
                        >
                          Cancel
                        </button>
                        <button
                          mat-button
                          [disabled]="!reasonForCancellingRequest"
                          class="ml-2 btn-success"
                          (click)="onCancelAll($event, dataRow, dataRow, true)"
                        >
                          Confirm
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
                <div
                  class="w-100"
                  *ngIf="updating && dataRow?.id === currentOrgUnit?.id"
                >
                  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
                </div>
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="pagination d-flex justify-content-end">
      <div style="width: 150" class="mt-2">
        <span>
          <span>{{ pageCount }}</span> of
          <span>
            {{ params?.reportingToolsResponse?.pagination?.total }}
          </span>
          {{ orgUnitLevels[0]?.name }}
        </span>
      </div>
      <select
        class="ml-2 page-count"
        (change)="
          getItemsPerPage($event, params?.reportingToolsResponse?.pagination)
        "
      >
        <option
          *ngFor="
            let itemPerPage of params?.reportingToolsResponse?.pagination
              ?.itemPerPageOptions
          "
          [value]="itemPerPage"
        >
          {{ itemPerPage }}
        </option>
      </select>
      <button
        mat-button
        title="Previous"
        class="pagination-buttons ml-2"
        [disabled]="params?.reportingToolsResponse?.pagination?.page == 1"
        (click)="
          getFacilities(
            $event,
            'previous',
            params?.reportingToolsResponse?.pagination
          )
        "
      >
        <mat-icon>
          <svg viewBox="0 0 24 24" focusable="false" class="mat-paginator-icon">
            <path d="M15.41 7.41L14 6l-6 6 6 6 1.41-1.41L10.83 12z"></path>
          </svg>
        </mat-icon>
      </button>
      <button
        mat-button
        title="Next"
        class="pagination-buttons ml-2"
        (click)="
          getFacilities(
            $event,
            'next',
            params?.reportingToolsResponse?.pagination
          )
        "
      >
        <mat-icon>
          <svg viewBox="0 0 24 24" focusable="false" class="mat-paginator-icon">
            <path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"></path>
          </svg>
        </mat-icon>
      </button>
    </div>
  </div>
  <mat-progress-bar
    mode="indeterminate"
    *ngIf="!params?.reportingToolsResponse"
  ></mat-progress-bar>
</div>
