.pagination-buttons {
  border: solid 1px #edf2f6;
}

.pagination-buttons:hover {
  background-color: #edf2f6;
}

.action-btns {
  background-color: #edf2f6;
  min-width: 125px;
}

.page-count {
  width: 60px;
  border: solid 1px #eee;
  border-radius: 8px;
  background-color: transparent;
}

::ng-deep .mdc-button {
  padding: 0 8px 0 8px !important;
}
