<div
  class="w-100"
  *ngIf="{ indicatorGroups: indicatorGroups$ | async } as params"
>
  <mat-progress-bar
    mode="indeterminate"
    *ngIf="!params?.indicatorGroups"
  ></mat-progress-bar>

  <mat-form-field class="w-100" appearance="outline">
    <mat-label>{{
      params?.translations && params?.translations['Indicator groups']
        ? params?.translations['Indicator groups']
        : 'Indicator groups'
    }}</mat-label>
    <mat-select (selectionChange)="onGetIndicatorGroup($event)">
      <mat-option
        *ngFor="let option of params?.indicatorGroups"
        [value]="option"
        >{{ option?.name }}</mat-option
      >
    </mat-select>
  </mat-form-field>
  <table
    class="table table-striped table-bordered mat-elevation-z1"
    *ngIf="indicatorGroup"
  >
    <thead>
      <tr>
        <th>SN</th>
        <th>Name</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="let indicator of indicatorGroup?.indicators; let count = index"
      >
        <td>
          {{ count + 1 }}
        </td>
        <td>
          {{ indicator?.name }}
        </td>
        <td>
          <button
            mat-icon-button
            [matMenuTriggerFor]="menu"
            aria-label="Options"
          >
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button (click)="onEdit($event, indicator)" mat-menu-item>
              <mat-icon>edit</mat-icon>
              <span>Edit</span>
            </button>
            <button
              disabled="disabled"
              (click)="onDelete($event, indicator)"
              mat-menu-item
            >
              <mat-icon>delete</mat-icon>
              <span>Delete</span>
            </button>
          </mat-menu>
        </td>
      </tr>
    </tbody>
  </table>
</div>
