<div
  class="custom-form"
  class="row"
  *ngIf="{
    expressionDescriptionLeft: expressionDescriptionLeft$ | async,
    expressionDescriptionRight: expressionDescriptionRight$ | async,
    dataSets: dataSets$ | async
  } as params"
>
  <div class="col-12">
    <div>
      <!-- <mat-form-field
        class="w-100 dataset-form-full-width"
        style="margin-top: -1rem"
      >
        <mat-select
          (selectionChange)="onSelectionChange($event.value)"
          name="searchString"
          placeholder="Select form"
        >
          <mat-option *ngFor="let option of dataSets" [value]="option">
            {{ option.name }}
          </mat-option>
        </mat-select>
      </mat-form-field> -->

      <mat-form-field class="w-100" appearance="fill">
        <mat-label>Datasets</mat-label>
        <input
          type="text"
          placeholder="Search"
          [required]="true"
          matInput
          autocomplete="off"
          (keyup)="searchItem($event)"
          [matAutocomplete]="auto"
        />
        <mat-autocomplete
          autoActiveFirstOption
          #auto="matAutocomplete"
          (optionSelected)="getSelectedItemFromOption($event)"
          [displayWith]="displayFunction.bind(this)"
        >
          <mat-option *ngFor="let option of params?.dataSets" [value]="option">
            {{ option?.name }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </div>
    <div class="row" *ngIf="_htmlMarkup">
      <div class="col-md-8 html-form">
        <div
          style="width: 100%; height: 80vh; overflow: auto"
          [innerHtml]="_htmlMarkup"
        ></div>
      </div>
      <di class="col-md-4" style="border-left: solid 1px #eee">
        <mat-tab-group
          (selectedTabChange)="changeTab(selectedTab.value)"
          [selectedIndex]="selectedTab.value"
          (selectedIndexChange)="selectedTab.setValue($event)"
        >
          <mat-tab label="Create / Update">
            <div class="p-2" *ngIf="selectedTab.value === 0">
              <div class="w-100 mb-2 mt-2 d-flex justify-content-end">
                <button
                  mat-stroked-button
                  (click)="onClear($event)"
                  class="mr-2"
                >
                  Clear
                </button>
                <button
                  [disabled]="
                    !name ||
                    !shortName ||
                    !rightSideExpression ||
                    !leftSideExpression ||
                    !leftSideDescription ||
                    !rightSideDescription ||
                    !importance ||
                    !periodType ||
                    !operator ||
                    !params?.expressionDescriptionLeft ||
                    !params?.expressionDescriptionRight
                  "
                  class="mr-2"
                  mat-stroked-button
                  (click)="
                    onRequestValidationRule(
                      $event,
                      params?.expressionDescriptionLeft?.description,
                      params?.expressionDescriptionRight?.description
                    )
                  "
                >
                  Send
                </button>
              </div>
              <div class="validation-rule-form-container rule-form-create">
                <mat-form-field class="w-100">
                  <mat-label>Name</mat-label>
                  <input
                    required
                    name="name"
                    [(ngModel)]="name"
                    matInput
                    placeholder="Name*"
                  />
                </mat-form-field>

                <mat-form-field class="w-100">
                  <mat-label>Short name</mat-label>
                  <input
                    [(ngModel)]="shortName"
                    matInput
                    max="50"
                    placeholder="Short name*"
                  />
                </mat-form-field>
                <mat-form-field class="w-100">
                  <mat-label>Description</mat-label>
                  <textarea [(ngModel)]="description" matInput></textarea>
                </mat-form-field>

                <mat-form-field class="w-100">
                  <mat-label>Instruction</mat-label>
                  <textarea [(ngModel)]="instruction" matInput></textarea>
                </mat-form-field>

                <mat-form-field class="w-100">
                  <mat-label>Importance</mat-label>
                  <mat-select [(ngModel)]="importance">
                    <mat-option
                      *ngFor="let option of importanceOptions"
                      [value]="option"
                      >{{ option?.name }}</mat-option
                    >
                  </mat-select>
                </mat-form-field>

                <mat-form-field class="w-100">
                  <mat-label>Period type</mat-label>
                  <mat-select [(ngModel)]="periodType">
                    <mat-option
                      *ngFor="let option of periodTypes"
                      [value]="option"
                      >{{ option?.name }}</mat-option
                    >
                  </mat-select>
                </mat-form-field>

                <br />
                <div
                  class="w-100"
                  style="background-color: #36e1f2; padding: 2px 5px"
                >
                  <h5>Left side</h5>
                </div>
                <div class="left-side">
                  <mat-form-field class="w-100">
                    <mat-label>Description</mat-label>
                    <input
                      required
                      [(ngModel)]="leftSideDescription"
                      matInput
                      placeholder="Description"
                    />
                  </mat-form-field>
                  <mat-form-field class="w-100">
                    <mat-label>Expression</mat-label>
                    <textarea
                      required
                      id="left-side-expression"
                      (click)="setActiveExpressionArea($event, 'LEFT')"
                      matInput
                      rows="2"
                      [(ngModel)]="leftSideExpression"
                      (change)="getExpressionDefinition($event, 'LEFT')"
                    ></textarea>
                  </mat-form-field>
                  <div
                    class="w-100 d-flex justify-content-left sign-btns-container"
                  >
                    <button
                      (click)="
                        getSignValue($event, '+', 'LEFT', leftSideExpression)
                      "
                      class="sign-btns"
                    >
                      <img
                        height="20"
                        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAYAAAAeP4ixAAAABmJLR0QA/wD/AP+gvaeTAAAAWklEQVRoge3XsQ2AMAwAwcD+O0NPA02sF7obwMkrjbMWALCOzfOvqfPOXYOnCakRUiOkRkiNkBohNV+30ecWO+31nr95ESE1fog1QmqE1AipEVIjpEYIABB0A2/0Az6X8bpXAAAAAElFTkSuQmCC"
                      />
                    </button>
                    <button
                      (click)="
                        getSignValue($event, '-', 'LEFT', leftSideExpression)
                      "
                      class="sign-btns"
                    >
                      <img
                        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAABmJLR0QA/wD/AP+gvaeTAAAAJUlEQVRIiWNgGAWjYBSMAoKAEY3/n9rmMlHJwFEwCkbBKKAEAAD0EQEED0po+gAAAABJRU5ErkJggg=="
                      />
                    </button>
                  </div>
                  <p
                    [ngClass]="{
                      'text-danger':
                        params?.expressionDescriptionLeft?.status === 'ERROR'
                    }"
                  >
                    {{
                      params?.expressionDescriptionLeft?.status === 'OK'
                        ? params?.expressionDescriptionLeft?.description
                        : params?.expressionDescriptionLeft?.message
                    }}
                  </p>
                  <p>
                    <mat-progress-bar
                      *ngIf="
                        !params?.expressionDescriptionLeft &&
                        leftSideExpression &&
                        leftSideExpression !== ''
                      "
                      mode="indeterminate"
                    ></mat-progress-bar>
                  </p>
                </div>
                <br />

                <mat-form-field class="w-100">
                  <mat-label>Operator</mat-label>
                  <mat-select required [(ngModel)]="operator">
                    <mat-option
                      *ngFor="let option of operators"
                      [value]="option"
                      >{{ option?.name }}</mat-option
                    >
                  </mat-select>
                </mat-form-field>

                <br />
                <div
                  class="w-100"
                  style="background-color: #3667f2; padding: 2px 5px"
                >
                  <h5>Right side</h5>
                </div>
                <div class="right-side">
                  <mat-form-field class="w-100">
                    <mat-label>Description</mat-label>
                    <input
                      required
                      [(ngModel)]="rightSideDescription"
                      matInput
                      placeholder="Description"
                    />
                  </mat-form-field>

                  <mat-form-field class="w-100">
                    <mat-label>Expression</mat-label>
                    <textarea
                      required
                      id="right-side-expression"
                      (click)="setActiveExpressionArea($event, 'RIGHT')"
                      matInput
                      [(ngModel)]="rightSideExpression"
                      (change)="getExpressionDefinition($event, 'RIGHT')"
                      rows="2"
                    ></textarea>
                  </mat-form-field>

                  <div
                    class="w-100 d-flex justify-content-left sign-btns-container"
                  >
                    <button
                      (click)="
                        getSignValue($event, '+', 'RIGHT', rightSideExpression)
                      "
                      class="sign-btns"
                    >
                      <img
                        height="20"
                        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAYAAAAeP4ixAAAABmJLR0QA/wD/AP+gvaeTAAAAWklEQVRoge3XsQ2AMAwAwcD+O0NPA02sF7obwMkrjbMWALCOzfOvqfPOXYOnCakRUiOkRkiNkBohNV+30ecWO+31nr95ESE1fog1QmqE1AipEVIjpEYIABB0A2/0Az6X8bpXAAAAAElFTkSuQmCC"
                      />
                    </button>

                    <button
                      (click)="
                        getSignValue($event, '-', 'RIGHT', rightSideExpression)
                      "
                      class="sign-btns"
                    >
                      <img
                        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAABmJLR0QA/wD/AP+gvaeTAAAAJUlEQVRIiWNgGAWjYBSMAoKAEY3/n9rmMlHJwFEwCkbBKKAEAAD0EQEED0po+gAAAABJRU5ErkJggg=="
                      />
                    </button>
                  </div>
                  <p
                    [ngClass]="{
                      'text-danger':
                        params?.expressionDescriptionRight?.status === 'ERROR'
                    }"
                  >
                    {{
                      params?.expressionDescriptionRight?.status === 'OK'
                        ? params?.expressionDescriptionRight?.description
                        : params?.expressionDescriptionRight?.message
                    }}
                  </p>
                  <p>
                    <mat-progress-bar
                      *ngIf="
                        !params?.expressionDescriptionRight &&
                        rightSideExpression &&
                        rightSideExpression != ''
                      "
                      mode="indeterminate"
                    ></mat-progress-bar>
                  </p>
                </div>

                <br />

                <!-- <div class="w-100">
                  <h5>Organisation unit levels</h5>
                  <div class="row">
                    <div class="col-5"></div>
                    <div class="col-2"></div>
                    <div class="col-5"></div>
                  </div>
                </div> -->
                <div class="w-100 mt-2">
                  <section>
                    <mat-checkbox
                      [checked]="true"
                      (change)="getSkipRuleOnFormValidation($event)"
                      >Skip this rule during form validation</mat-checkbox
                    >
                  </section>
                </div>
              </div>
              <div class="d-flex justify-content-end">
                <button
                  mat-stroked-button
                  (click)="onClear($event)"
                  class="mr-2"
                >
                  Clear
                </button>
                <button
                  [disabled]="
                    !name ||
                    !shortName ||
                    !rightSideExpression ||
                    !leftSideExpression ||
                    !leftSideDescription ||
                    !rightSideDescription ||
                    !importance ||
                    !periodType ||
                    !operator ||
                    !params?.expressionDescriptionLeft ||
                    !params?.expressionDescriptionRight
                  "
                  class="mr-2"
                  mat-stroked-button
                  (click)="
                    onRequestValidationRule(
                      $event,
                      params?.expressionDescriptionLeft?.description,
                      params?.expressionDescriptionRight?.description
                    )
                  "
                >
                  Send
                </button>
              </div>
            </div>
          </mat-tab>
          <mat-tab label="Validation rule">
            <div class="p-2" *ngIf="selectedTab.value === 1">
              <app-validation-rules-list-container
                (editValidationRule)="onEditValidationRule($event)"
              ></app-validation-rules-list-container>
            </div>
          </mat-tab>
        </mat-tab-group>
      </di>
    </div>
  </div>
</div>
