<div class="w-100" mat-dialog-title> Update User Role [Under Construction]</div>

<mat-dialog-content>
  <div class="row">
    <div class="col-12 mt-4">
      <div class="h5">{{ 'Access' | translate }}</div>
      <app-form
        [fields]="accessFormFields"
        [isFormHorizontal]="false"
        (formUpdate)="onFormUpdate($event)"
      ></app-form>
    </div>
  </div>
</mat-dialog-content>
<div class="p-3">
<mat-dialog-actions align="end">
  <button mat-stroked-button mat-dialog-close>Cancel</button>
  <button
    mat-flat-button
    color="primary"
    (click)="confirmUserRoleUpdate()"
  >
    Confirm
  </button>
</mat-dialog-actions>
</div>