<div style="margin-top: 70px">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 p-5">
        <div class="mt-2"></div>
        <div class="h4">Welcome to the user support app</div>
        <div class="row">
          <div class="col-md-4 col-lg-4 col-sx-12 col-sm-12">
            <mat-card class="shared-card">
              <mat-card-subtitle>
                <img src="assets/icons/dhis-web-user.png" />
              </mat-card-subtitle>
              <mat-card-title>User accounts & Password Recovery</mat-card-title>
              <mat-card-content>
                <p>
                  Request new user account and pasword recovery. Attachment for
                  requested user accounts is needed
                </p>
                <!-- <p>
                  This card has divider and indeterminate progress as footer
                </p> -->
              </mat-card-content>
              <mat-divider inset></mat-divider>
              <mat-card-actions>
                <button
                  mat-stroked-button
                  class="formatted-basic-button"
                  [routerLink]="'user-accounts'"
                >
                  Open
                </button>
              </mat-card-actions>
              <!-- <mat-card-footer>
                <mat-progress-bar mode="indeterminate"></mat-progress-bar>
              </mat-card-footer> -->
            </mat-card>
          </div>
          <div class="col-md-4 col-lg-4 col-sx-12 col-sm-12">
            <mat-card class="shared-card">
              <mat-card-subtitle>
                <img src="assets/icons/dhis-web-reporting-tools.png" />
              </mat-card-subtitle>
              <mat-card-title>Datasets & Programs assignments</mat-card-title>
              <mat-card-content>
                <p>
                  Request for adding or removing dataset or programs from a
                  Health facility or Region or Council.
                </p>
                <!-- <p>
                  This card has divider and indeterminate progress as footer
                </p> -->
              </mat-card-content>
              <mat-divider inset></mat-divider>
              <mat-card-actions>
                <button
                  mat-stroked-button
                  class="formatted-basic-button"
                  [routerLink]="'reporting-tools'"
                >
                  Open
                </button>
              </mat-card-actions>
            </mat-card>
          </div>
        </div>
        <!-- <h2>Organisation unit filter</h2>
        <hr />
        <ngx-dhis2-org-unit-filter
          [orgUnitFilterConfig]="orgUnitFilterConfig"
        ></ngx-dhis2-org-unit-filter> -->
      </div>
    </div>
  </div>
</div>
