<div
  class="users-list-container"
  *ngIf="{
    usersResponse: usersResponse$ | async,
    configurations: configurations$ | async
  } as params"
>
  <div class="w-100 mt-2 mb-2 d-flex">
    <mat-form-field class="w-25">
      <mat-label>{{ 'Search' | translate }} </mat-label>
      <mat-icon matPrefix>search</mat-icon>
      <input matInput (keyup)="searchUser($event)" />
    </mat-form-field>
    <div class="w-75 d-flex justify-content-end">
      <div class="w-25">
        <section>
          <mat-radio-group (change)="getAccountStatus($event)">
            <mat-radio-button value="active"
              >Active<span
                class="ml-1"
                *ngIf="accountStatus && accountStatus === 'active'"
              >
                [{{ params?.usersResponse?.pager?.total }}]
              </span></mat-radio-button
            >
            <mat-radio-button value="disabled"
              >In-active
              <span
                class="ml-1"
                *ngIf="accountStatus && accountStatus === 'disabled'"
              >
                [{{ params?.usersResponse?.pager?.total }}]
              </span>
            </mat-radio-button>
          </mat-radio-group>
        </section>
      </div>
      <mat-form-field class="w-25" appearance="outline">
        <mat-label>Levels</mat-label>
        <input
          type="text"
          placeholder="Search"
          aria-label="Number"
          matInput
          [formControl]="ouLevelsControl"
          [matAutocomplete]="auto"
        />
        <mat-autocomplete
          #auto="matAutocomplete"
          [displayWith]="displayFn"
          (optionSelected)="onGetSelectedOption($event)"
        >
          @for (option of filteredOptions | async; track option) {
          <mat-option [value]="option">{{ option?.name }}</mat-option>
          }
        </mat-autocomplete>
      </mat-form-field>
    </div>
  </div>

  <div *ngIf="params?.usersResponse" style="width: 100%; overflow: auto">
    <table class="table table-striped table-bordered mat-elevation-z1">
      <thead>
        <tr>
          <th style="width: 20px">{{ 'SN' | translate }}</th>
          <th>{{ 'Names' | translate }}</th>
          <th>{{ 'Username' | translate }}</th>
          <th>{{ 'Email' | translate }}</th>
          <th>{{ 'Phone number' | translate }}</th>
          <ng-container *ngFor="let level of levels">
            <th *ngIf="level?.level > 1">
              {{ level?.name }}
            </th>
          </ng-container>
          <th>{{ 'Last login' | translate }}</th>
          <th>{{ 'Status' | translate }}</th>
          <th>{{ 'Action' | translate }}</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngIf="!params?.usersResponse?.message">
          <tr
            *ngFor="let user of params?.usersResponse?.users; let count = index"
          >
            <td>
              {{ (page - 1) * pageSize + count + 1 }}
            </td>
            <td>
              {{ user?.name }}
            </td>
            <td>
              {{ user?.userCredentials?.username }}
            </td>
            <td>
              {{ user?.email }}
            </td>
            <td>
              {{ user?.phoneNumber }}
            </td>

            <ng-container *ngFor="let level of levels">
              <td *ngIf="level?.level > 1">
                {{ user?.leveledOrgUnitsTree[level?.level]?.name }}
              </td>
            </ng-container>
            <td>
              {{ user?.userCredentials?.lastLogin }}
            </td>
            <td>
              <span *ngIf="user?.userCredentials?.disabled"
                >Inactive(Disable)</span
              >
              <span *ngIf="!user?.userCredentials?.disabled">Active</span>
            </td>
            <td>
              <button
                class="float-right"
                mat-icon-button
                [matMenuTriggerFor]="menu"
                (click)="$event.stopPropagation()"
              >
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #menu="matMenu">
                <button
                  *ngIf="
                    currentUser?.keyedAuthorities['ALL'] ||
                    currentUser?.keyedAuthorities['US_ACTIVATE_ACCOUNT']
                  "
                  [disabled]="!user?.userCredentials?.disabled"
                  mat-menu-item
                  (click)="openUserActivateDialog($event, user)"
                >
                  <div class="d-flex align-items-center">
                    <mat-icon inline>lock</mat-icon>
                    <span
                      >{{ 'Enable' | translate }} ({{ 'Activate' | translate }})
                    </span>
                  </div>
                </button>
                <button
                  *ngIf="
                    currentUser?.keyedAuthorities['ALL'] ||
                    currentUser?.keyedAuthorities['US_DEACTIVATE_ACCOUNT']
                  "
                  [disabled]="user?.userCredentials?.disabled"
                  mat-menu-item
                  (click)="openUserActivateDialog($event, user)"
                >
                  <div class="d-flex align-items-center">
                    <mat-icon inline>lock_open</mat-icon>
                    <span
                      >{{ 'Disable' | translate }} ({{
                        'De-activate' | translate
                      }})
                    </span>
                  </div>
                </button>
                <button
                  mat-menu-item
                  (click)="openUserPassResetDialog(user)"
                  *ngIf="
                    currentUser?.keyedAuthorities['ALL'] ||
                    currentUser?.keyedAuthorities['US_PASSWORD_CHANGE']
                  "
                >
                  <div class="d-flex align-items-center">
                    <mat-icon inline>lock_reset</mat-icon>
                    <span>{{ 'Password Reset' | translate }}</span>
                  </div>
                </button>
                <button
                  *ngIf="currentUser?.keyedAuthorities['ALL']"
                  mat-menu-item
                  [disabled]="true"
                  (click)="openUserOrgunitDialog()"
                >
                  <div class="d-flex align-items-center">
                    <mat-icon inline>account_tree</mat-icon>
                    <span>{{ 'Transfer' | translate }} </span>
                  </div>
                </button>
                <button
                  *ngIf="currentUser?.keyedAuthorities['ALL']"
                  mat-menu-item
                  [disabled]="false"
                  (click)="openUserRoleDialog(user, params?.configurations)"
                >
                  <div class="d-flex align-items-center">
                    <mat-icon inline>admin_panel_settings</mat-icon>
                    <span>{{ 'Update User Access' | translate }} </span>
                  </div>
                </button>
              </mat-menu>
            </td>
          </tr>
        </ng-container>
        <ng-container *ngIf="params?.usersResponse?.users?.length === 0">
          <tr>
            <td colspan="100%">
              <div class="alert alert-warning" role="alert">No users</div>
            </td>
          </tr>
        </ng-container>
        <ng-container *ngIf="params?.usersResponse?.message">
          <tr>
            <td colspan="100%">
              <div class="alert alert-danger" role="alert">
                <b>{{ params?.usersResponse?.statusText }}: </b>
                {{ params?.usersResponse?.message }}
              </div>
            </td>
          </tr>
        </ng-container>
      </tbody>
    </table>
    <!-- {{ params?.usersResponse?.pager | json }} -->
    <div
      class="mt-2"
      *ngIf="
        !params?.usersResponse?.message && params?.usersResponse?.pager?.total
      "
    >
      <div class="row">
        <div class="col-11 d-flex justify-content-end">
          <mat-paginator
            [length]="params?.usersResponse?.pager?.total"
            aria-label="Select page"
            [pageSize]="pageSize"
            [pageIndex]="pageIndex"
            [pageSizeOptions]="pageSizeOptions"
            (page)="getUsers($event, params?.usersResponse?.pager)"
          >
          </mat-paginator>
        </div>
        <div class="col-1"></div>
      </div>

      <!-- <button
        mat-stroked-button
        [disabled]="params?.usersResponse?.pager?.page === 1"
        (click)="getUsers($event, params?.usersResponse?.pager, 'prev')"
      >
        {{ 'Previous' | translate }}
      </button>
      <button
        class="ml-2"
        mat-stroked-button
        (click)="getUsers($event, params?.usersResponse?.pager, 'next')"
      >
        {{ 'Next' | translate }}
      </button> -->
    </div>
  </div>

  <mat-progress-bar
    *ngIf="!params?.usersResponse"
    mode="indeterminate"
  ></mat-progress-bar>

  <div
    mat-dialog-actions
    class="d-flex justify-content-end"
    *ngIf="
      currentUser?.keyedAuthorities['ALL'] ||
      currentUser?.keyedAuthorities['US_USER_ACCOUNT_REQUEST']
    "
  >
    <button [matMenuTriggerFor]="menu" class="custom-mat-fab">
      {{ 'New' | translate }}
    </button>

    <mat-menu #menu="matMenu">
      <!-- <button mat-menu-item (click)="openUploadingPage($event)">
        Bulk (Uploading)
      </button> -->
      <button mat-menu-item [routerLink]="'/user-accounts/request'">
        {{ 'Request' | translate }}
      </button>
    </mat-menu>
  </div>
</div>
