<div
  class="users-list-container"
  *ngIf="{ usersResponse: usersResponse$ | async } as params"
>
  <div class="w-100 mt-2 mb-2">
    <mat-form-field class="w-50">
      <mat-label>{{ 'Search' | translate }} </mat-label>
      <mat-icon matPrefix>search</mat-icon>
      <input matInput (keyup)="searchUser($event)" />
    </mat-form-field>
  </div>

  <div *ngIf="params?.usersResponse">
    <table class="table table-striped table-bordered mat-elevation-z1">
      <thead>
        <tr>
          <th style="width: 20px">{{ 'SN' | translate }}</th>
          <th>{{ 'Names' | translate }}</th>
          <th>{{ 'Username' | translate }}</th>
          <th>{{ 'Email' | translate }}</th>
          <th>{{ 'Last login' | translate }}</th>
          <th>{{ 'Disabled' | translate }}</th>
          <th>{{ 'Action' | translate }}</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngIf="!params?.usersResponse?.message">
          <tr
            *ngFor="let user of params?.usersResponse?.users; let count = index"
          >
            <td>
              {{ (page - 1) * pageSize + count + 1 }}
            </td>
            <td>
              {{ user?.name }}
            </td>
            <td>
              {{ user?.userCredentials?.username }}
            </td>
            <td>
              {{ user?.email }}
            </td>
            <td>
              {{ user?.userCredentials?.lastLogin }}
            </td>
            <td>
              <mat-icon *ngIf="user?.userCredentials?.disabled">done</mat-icon>
            </td>
            <td>
              <button
                class="float-right"
                mat-icon-button
                [matMenuTriggerFor]="menu"
                (click)="$event.stopPropagation()"
              >
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #menu="matMenu">
                <button
                  [disabled]="!user?.userCredentials?.disabled"
                  mat-menu-item
                  (click)="openUserActivateDialog($event, user)"
                >
                  <div class="d-flex align-items-center">
                    <mat-icon inline>lock</mat-icon>
                    <span
                      >{{ 'Enable' | translate }} ({{ 'Activate' | translate }})
                    </span>
                  </div>
                </button>
                <button
                  [disabled]="user?.userCredentials?.disabled"
                  mat-menu-item
                  (click)="openUserActivateDialog($event, user)"
                >
                  <div class="d-flex align-items-center">
                    <mat-icon inline>lock_open</mat-icon>
                    <span
                      >{{ 'Disable' | translate }} ({{
                        'De-activate' | translate
                      }})
                    </span>
                  </div>
                </button>
                <button mat-menu-item (click)="openUserPassResetDialog(user)">
                  <div class="d-flex align-items-center">
                    <mat-icon inline>lock_reset</mat-icon>
                    <span>{{ 'Password Reset' | translate }}</span>
                  </div>
                </button>
                <button
                  mat-menu-item
                  [disabled]="true"
                  (click)="openUserOrgunitDialog()"
                >
                  <div class="d-flex align-items-center">
                    <mat-icon inline>account_tree</mat-icon>
                    <span>{{ 'Update Orgunit' | translate }} </span>
                  </div>
                </button>
                <button
                  mat-menu-item
                  [disabled]="true"
                  (click)="openUserRoleDialog()"
                >
                  <div class="d-flex align-items-center">
                    <mat-icon inline>admin_panel_settings</mat-icon>
                    <span>{{ 'Update User Role' | translate }} </span>
                  </div>
                </button>
              </mat-menu>
            </td>
          </tr>
        </ng-container>
        <ng-container *ngIf="params?.usersResponse?.users?.length === 0">
          <tr>
            <td colspan="100%">
              <div class="alert alert-warning" role="alert">No users</div>
            </td>
          </tr>
        </ng-container>
        <ng-container *ngIf="params?.usersResponse?.message">
          <tr>
            <td colspan="100%">
              <div class="alert alert-danger" role="alert">
                <b>{{ params?.usersResponse?.statusText }}: </b>
                {{ params?.usersResponse?.message }}
              </div>
            </td>
          </tr>
        </ng-container>
      </tbody>
    </table>
    <!-- {{ params?.usersResponse?.pager | json }} -->
    <div
      class="d-flex justify-content-end mt-2"
      *ngIf="
        !params?.usersResponse?.message && params?.usersResponse?.pager?.total
      "
    >
      <mat-paginator
        [length]="params?.usersResponse?.pager?.total"
        aria-label="Select page"
        [pageSize]="pageSize"
        [pageIndex]="pageIndex"
        [pageSizeOptions]="pageSizeOptions"
        (page)="getUsers($event, params?.usersResponse?.pager)"
      >
      </mat-paginator>

      <!-- <button
        mat-stroked-button
        [disabled]="params?.usersResponse?.pager?.page === 1"
        (click)="getUsers($event, params?.usersResponse?.pager, 'prev')"
      >
        {{ 'Previous' | translate }}
      </button>
      <button
        class="ml-2"
        mat-stroked-button
        (click)="getUsers($event, params?.usersResponse?.pager, 'next')"
      >
        {{ 'Next' | translate }}
      </button> -->
    </div>
  </div>

  <mat-progress-bar
    *ngIf="!params?.usersResponse"
    mode="indeterminate"
  ></mat-progress-bar>

  <div mat-dialog-actions class="d-flex justify-content-end">
    <button [matMenuTriggerFor]="menu" class="custom-mat-fab">
      {{ 'New' | translate }}
    </button>

    <mat-menu #menu="matMenu">
      <!-- <button mat-menu-item (click)="openUploadingPage($event)">
        Bulk (Uploading)
      </button> -->
      <button mat-menu-item [routerLink]="'/user-accounts/request'">
        {{ 'Request' | translate }}
      </button>
    </mat-menu>
  </div>
</div>
