<div
  class="w-100"
  *ngIf="{
    validationRulesRequests: validationRulesRequests$ | async,
    translations: translations$ | async
  } as params"
>
  <mat-progress-bar
    mode="indeterminate"
    *ngIf="!params?.validationRulesRequests"
  ></mat-progress-bar>
  <div class="w-100" style="overflow: auto">
    <!-- {{ params?.validationRulesRequests | json }} -->
    <table class="table table-striped table-bordered mat-elevation-z1">
      <thead>
        <tr>
          <th style="width: 40px">{{ params?.translations['SN'] || 'SN' }}</th>
          <th>{{ params?.translations['Request'] || 'Request' }}</th>
          <th>{{ params?.translations['Actions'] || 'Actions' }}</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngIf="params?.validationRulesRequests?.data?.length > 0">
          <ng-container
            *ngFor="
              let validationRuleRequest of params?.validationRulesRequests
                ?.data;
              let count = index
            "
          >
            <tr>
              <td>{{ count + 1 }}</td>
              <td>{{ validationRuleRequest?.action }}</td>
              <td>
                <button
                  mat-button
                  (click)="onViewDetails($event, validationRuleRequest)"
                >
                  {{ params?.translations['View details'] || 'View details' }}
                </button>
              </td>
            </tr>
            <tr *ngIf="detailedRequests[validationRuleRequest?.id]">
              <td></td>
              <td>
                <div
                  [innerHTML]="
                    validationRuleRequest?.message?.htmlMessage
                      ? validationRuleRequest?.message?.htmlMessage
                      : validationRuleRequest?.message?.message
                  "
                ></div>
              </td>
              <td>
                <button
                  mat-flat-button
                  color="primary"
                  [disabled]="true"
                  *ngIf="
                    currentUser?.keyedAuthorities['ALL'] ||
                    currentUser?.keyedAuthorities['US_VALIDATION_RULE_APPROVE']
                  "
                >
                  {{ params?.translations['Approve'] || 'Approve' }}
                </button>
              </td>
            </tr>
          </ng-container>
        </ng-container>
        <ng-container
          *ngIf="params?.validationRulesRequests?.data?.length === 0"
        >
          <tr>
            <td colspan="100%">
              <div class="alert alert-info" role="alert">
                {{ params?.translations['There is no validation rule request'] || 'There is no validation rule request' }}
              </div>
            </td>
          </tr>
        </ng-container>
      </tbody>
    </table>
  </div>
</div>
