<div class="loading-overlay" *ngIf="savingData">
  <div class="text-center">
    <div>Saving ....</div>
    <div class="mt-3 d-flex justify-content-center w-100">
      <mat-spinner diameter="50" strokeWidth="2"></mat-spinner>
    </div>
  </div>
</div>

<div *ngIf="!savingData && !savedData">
  <div
    class="request-container"
    *ngIf="{
      assignedDataSets: assignedDataSets$ | async,
      allDataSets: allDataSets$ | async,
      dataStoreMessageDetails: dataStoreMessageDetails$ | async
    } as params"
  >
    <h5>
      {{ dialogData?.facility?.name }}
    </h5>
    <div
      class="contents"
      *ngIf="
        (params?.assignedDataSets &&
          params?.allDataSets &&
          ouHasPendingRequest &&
          params?.dataStoreMessageDetails) ||
        (!ouHasPendingRequest &&
          params?.assignedDataSets &&
          params?.allDataSets)
      "
    >
      <app-request-form
        [assignedDataSets]="params?.assignedDataSets"
        [allDataSets]="params?.allDataSets"
        [userSupportKeys]="dialogData?.userSupportKeys"
        [dataStoreMessageDetails]="params?.dataStoreMessageDetails"
        [facility]="dialogData?.facility"
        (assignmentDetails)="onGetAssignmentDetails($event)"
      ></app-request-form>
    </div>
    <mat-progress-bar
      mode="indeterminate"
      *ngIf="
        !params?.assignedDataSets ||
        !params?.allDataSets ||
        (!params?.dataStoreMessageDetails && ouHasPendingRequest)
      "
    ></mat-progress-bar>

    <div mat-dialog-actions class="d-flex justify-content-end">
      <button mat-stroked-button (click)="onClose($event)">Close</button>
      <button
        mat-stroked-button
        class="ml-2"
        [disabled]="
          !assignmentDetails ||
          (assignmentDetails?.deletions?.length === 0 &&
            assignmentDetails?.additions?.length === 0)
        "
        color="primary"
        (click)="
          onSave(
            $event,
            assignmentDetails,
            dialogData?.facility,
            dialogData?.systemConfigs,
            dialogData?.currentUser
          )
        "
      >
        Send
      </button>
    </div>
  </div>
</div>

<div *ngIf="savedData">
  <p class="success-message">Successfully sent form request</p>
</div>
