<div class="loading-overlay" *ngIf="savingData">
  <div class="text-center">
    <div>Saving ....</div>
    <div class="mt-3 d-flex justify-content-center w-100">
      <mat-spinner diameter="50" strokeWidth="2"></mat-spinner>
    </div>
  </div>
</div>

<div class="approve-container" *ngIf="!savingData && !savedData && !missingKey">
  <div *ngIf="{ messageConversation: messageConversation$ | async } as params">
    <div class="w-100" *ngIf="dataRow?.user">
      From:
      <span class="ml-4">
        From {{ dataRow?.user?.displayName }}
        <span *ngIf="dataRow?.user?.phoneNumber">
          ({{ dataRow?.user?.phoneNumber }})
        </span>
      </span>
    </div>
    <p>
      {{ dialogData?.action }}
    </p>
    <a (click)="toggleDetails($event)">{{
      viewDetails ? 'View less' : 'View details'
    }}</a>

    <div
      *ngIf="viewDetails"
      class="mt-2"
      [innerHtml]="dialogData?.message?.message"
    ></div>

    <div mat-dialog-actions class="d-flex justify-content-end">
      <button mat-button (click)="onClose($event)">
        {{ successfullyApproved ? 'Done' : 'Close' }}
      </button>
      <button
        mat-button
        [disabled]="successfullyApproved"
        class="ml-2 btn-success"
        (click)="onSave($event, dialogData, params?.messageConversation)"
      >
        Confirm
      </button>
    </div>
  </div>
</div>

<div class="w-100 success-message" *ngIf="savedData && !missingKey">
  <p>Successfully updated!</p>
</div>

<div *ngIf="missingKey">
  <p>Already attended!</p>
</div>
