<div class="application-container">
  <ng-dhis2-ui-header-bar class="header-bar"></ng-dhis2-ui-header-bar>
  <div
    class="application-content"
    *ngIf="{
      currentUser: currentUser$ | async,
      userSupportNameSpaceResponse: userSupportNameSpaceResponse$ | async,
      systemSettings: systemSettings$ | async,
      translations: translations$ | async,
      configurations: configurations$ | async
    } as params"
  >
    <div class="container-fluid">
      <div class="row">
        <div class="w-100" *ngIf="ready">
          <mat-drawer-container class="user-accounts-container w-100">
            <mat-drawer mode="side" class="side-navigation-menu" opened>
              <div class="menu-list-item">
                <mat-list role="list" class="meu-list">
                  <!-- TODO: Add loader before display found user display name -->
                  <mat-list-item role="listitem" class="welcome-user-item">
                    <button mat-icon-button class="current-user-name">
                      <mat-icon style="margin-bottom: -6px" color="primary"
                        >person</mat-icon
                      >
                      {{ params?.currentUser?.displayName }}
                    </button>
                  </mat-list-item>
                  <mat-list-item
                    role="listitem"
                    class="list-item"
                    *ngIf="
                      params?.currentUser &&
                      (params?.currentUser?.keyedAuthorities['ALL'] ||
                        params?.currentUser?.keyedAuthorities[
                          'US_FORM_REQUEST'
                        ] ||
                        params?.currentUser?.keyedAuthorities[
                          'US_FORM_APPROVE'
                        ] ||
                        params?.currentUser?.keyedAuthorities[
                          'US_FORM_REQUESTS_VIEW'
                        ])
                    "
                    routerLinkActive="active-menu-item"
                    [routerLink]="'reporting-tools/request'"
                    >{{
                      params?.translations &&
                      params?.translations['Form requests']
                        ? params?.translations['Form requests']
                        : 'Form requests'
                    }}</mat-list-item
                  >

                  <!-- <mat-list-item
                    role="listitem"
                    class="list-item"
                    routerLinkActive="active-menu-item"
                    [routerLink]="'reports'"
                    >Reports</mat-list-item
                  > -->
                  <mat-list-item
                    role="listitem"
                    class="list-item"
                    *ngIf="
                      params?.currentUser &&
                      (params?.currentUser?.keyedAuthorities['ALL'] ||
                        params?.currentUser?.keyedAuthorities[
                          'US_USER_ACCOUNT_REQUEST'
                        ] ||
                        params?.currentUser?.keyedAuthorities[
                          'US_USER_ACCOUNT_APPROVE'
                        ] ||
                        params?.currentUser?.keyedAuthorities[
                          'US_PASSWORD_CHANGE'
                        ] ||
                        params?.currentUser?.keyedAuthorities[
                          'US_ACTIVATE_ACCOUNT'
                        ] ||
                        params?.currentUser?.keyedAuthorities[
                          'US_DEACTIVATE_ACCOUNT'
                        ] ||
                        params?.currentUser?.keyedAuthorities['F_USER_VIEW'])
                    "
                    routerLinkActive="active-menu-item"
                    [routerLink]="'user-accounts'"
                    >{{
                      params?.translations &&
                      params?.translations['User accounts']
                        ? params?.translations['User accounts']
                        : 'User accounts'
                    }}</mat-list-item
                  >

                  <!-- <mat-list-item
                    *ngIf="
                      params?.currentUser &&
                      (params?.currentUser?.keyedAuthorities['ALL'] ||
                        params?.currentUser?.keyedAuthorities[
                          'US_VALIDATION_RULE_REQUEST'
                        ] ||
                        params?.currentUser?.keyedAuthorities[
                          'US_VALIDATION_RULE_APPROVE'
                        ])
                    "
                    role="listitem"
                    class="list-item"
                    routerLinkActive="active-menu-item"
                    [routerLink]="'validation-rules-request'"
                    >{{
                      params?.translations['Validation Rules request'] ||
                        'Validation Rules request'
                    }}</mat-list-item
                  > -->
                  <!-- <mat-list-item
                    *ngIf="
                      params?.currentUser?.userGroupsKeyed[
                        params?.systemSettings?.feedbackRecipients?.id
                      ]
                    "
                    role="listitem"
                    class="list-item"
                    routerLinkActive="active-menu-item"
                    [routerLink]="'statistics'"
                    >{{ 'Statistics' }}</mat-list-item
                  > -->

                  <mat-list-item
                    *ngIf="
                      params?.currentUser &&
                      (params?.currentUser?.keyedAuthorities['ALL'] ||
                        params?.currentUser?.keyedAuthorities['US_ALMA_EXPORT'])
                    "
                    role="listitem"
                    class="list-item"
                    routerLinkActive="active-menu-item"
                    [routerLink]="'alma-export'"
                    >{{
                      params?.translations &&
                      params?.translations['ALMA Export']
                        ? params?.translations['ALMA Export']
                        : 'ALMA Export'
                    }}</mat-list-item
                  >
                  <mat-list-item
                    *ngIf="
                      params?.currentUser &&
                      (params?.currentUser?.keyedAuthorities['ALL'] ||
                        params?.currentUser?.keyedAuthorities['US_SETTINGS'])
                    "
                    role="listitem"
                    class="list-item"
                    routerLinkActive="active-menu-item"
                    [routerLink]="'settings'"
                    >{{
                      params?.translations && params?.translations['Settings']
                        ? params?.translations['Settings']
                        : 'Settings'
                    }}</mat-list-item
                  >
                </mat-list>
              </div>
            </mat-drawer>
            <mat-drawer-content>
              <div class="drawer-contents-container p-2 ml-2">
                <div class="w-100 d-flex justify-content-end">
                  <mat-form-field
                    style="margin-top: -24px; margin-bottom: -24px"
                  >
                    <mat-select
                      [value]="
                        selectedLanguageKey
                          ? selectedLanguageKey
                          : params?.configurations?.defaultLocale
                      "
                      (selectionChange)="onChangeLanguage($event)"
                    >
                      <mat-option
                        *ngFor="let option of params?.configurations?.languages"
                        [value]="option?.key"
                        >{{ option?.name }}</mat-option
                      >
                    </mat-select>
                  </mat-form-field>
                </div>
                <mat-list role="list" class="top-menu">
                  <mat-list-item
                    role="listitem"
                    class="list-item"
                    routerLinkActive="active-menu-item"
                    *ngIf="
                      params?.currentUser &&
                      (params?.currentUser?.keyedAuthorities['ALL'] ||
                        params?.currentUser?.keyedAuthorities[
                          'US_FORM_REQUEST'
                        ] ||
                        params?.currentUser?.keyedAuthorities[
                          'US_FORM_APPROVE'
                        ] ||
                        params?.currentUser?.keyedAuthorities[
                          'US_FORM_REQUESTS_VIEW'
                        ])
                    "
                    [routerLink]="'reporting-tools/request'"
                    >{{
                      params?.translations &&
                      params?.translations['Form requests']
                        ? params?.translations['Form requests']
                        : 'Form requests'
                    }}</mat-list-item
                  >
                  <!-- <mat-list-item
                    role="listitem"
                    class="list-item"
                    routerLinkActive="active-menu-item"
                    [routerLink]="'statistics'"
                    >{{ 'Statistics'  }}</mat-list-item
                  > -->
                  <!-- <mat-list-item
                    role="listitem"
                    class="list-item"
                    routerLinkActive="active-menu-item"
                    [routerLink]="'request'"
                    [disabled]="true"
                    >Account request</mat-list-item
                  > -->
                  <mat-list-item
                    role="listitem"
                    routerLinkActive="active-menu-item"
                    class="list-item"
                    [disabled]="false"
                    *ngIf="
                      params?.currentUser &&
                      (params?.currentUser?.keyedAuthorities['ALL'] ||
                        params?.currentUser?.keyedAuthorities[
                          'US_USER_ACCOUNT_REQUEST'
                        ] ||
                        params?.currentUser?.keyedAuthorities[
                          'US_USER_ACCOUNT_APPROVE'
                        ] ||
                        params?.currentUser?.keyedAuthorities[
                          'US_PASSWORD_CHANGE'
                        ] ||
                        params?.currentUser?.keyedAuthorities[
                          'US_ACTIVATE_ACCOUNT'
                        ] ||
                        params?.currentUser?.keyedAuthorities[
                          'US_DEACTIVATE_ACCOUNT'
                        ] ||
                        params?.currentUser?.keyedAuthorities['F_USER_VIEW'])
                    "
                    [routerLink]="'user-accounts'"
                    >{{
                      params?.translations &&
                      params?.translations['User account']
                        ? params?.translations['User account']
                        : 'User account'
                    }}</mat-list-item
                  >
                  <!-- <mat-list-item
                    *ngIf="
                      params?.currentUser &&
                      (params?.currentUser?.keyedAuthorities['ALL'] ||
                        params?.currentUser?.keyedAuthorities[
                          'US_VALIDATION_RULE_REQUEST'
                        ] ||
                        params?.currentUser?.keyedAuthorities[
                          'US_VALIDATION_RULE_APPROVE'
                        ])
                    "
                    role="listitem"
                    class="list-item"
                    routerLinkActive="active-menu-item"
                    [routerLink]="'validation-rules-request'"
                    >{{
                      params?.translations['Validation Rules request'] ||
                        'Validation Rules request'
                    }}</mat-list-item
                  > -->

                  <mat-list-item
                    *ngIf="
                      params?.currentUser &&
                      (params?.currentUser?.keyedAuthorities['ALL'] ||
                        params?.currentUser?.keyedAuthorities['US_ALMA_EXPORT'])
                    "
                    role="listitem"
                    class="list-item"
                    routerLinkActive="active-menu-item"
                    [routerLink]="'alma-export'"
                    >{{
                      params?.translations &&
                      params?.translations['ALMA Export']
                        ? params?.translations['ALMA Export']
                        : 'ALMA Export'
                    }}</mat-list-item
                  >

                  <mat-list-item
                    *ngIf="
                      params?.currentUser &&
                      (params?.currentUser?.keyedAuthorities['ALL'] ||
                        params?.currentUser?.keyedAuthorities['US_SETTINGS'])
                    "
                    role="listitem"
                    class="list-item"
                    routerLinkActive="active-menu-item"
                    [routerLink]="'settings'"
                    >{{
                      params?.translations && params?.translations['Settings']
                        ? params?.translations['Settings']
                        : 'Settings'
                    }}</mat-list-item
                  >
                </mat-list>
                <div class="contents-container">
                  <router-outlet></router-outlet>
                </div>
              </div>
            </mat-drawer-content>
          </mat-drawer-container>
        </div>
      </div>
    </div>
  </div>
</div>
