<div class="application-container">
  <!-- <ngx-dhis2-menu></ngx-dhis2-menu> -->
  <div
    class="application-content"
    *ngIf="{
      currentUser: currentUser$ | async,
      userSupportNameSpaceResponse: userSupportNameSpaceResponse$ | async,
      systemSettings: systemSettings$ | async
    } as params"
  >
    <div class="container-fluid">
      <div class="row">
        <div class="w-100" *ngIf="ready">
          <mat-drawer-container class="user-accounts-container w-100">
            <mat-drawer mode="side" class="side-navigation-menu" opened>
              <div class="menu-list-item">
                <mat-list role="list" class="meu-list">
                  <!-- TODO: Add loader before display found user display name -->
                  <mat-list-item role="listitem" class="welcome-user-item">
                    <mat-icon color="primary">person</mat-icon>
                    <b class="ml-1 current-user-name">{{
                      params?.currentUser?.displayName
                    }}</b></mat-list-item
                  >
                  <mat-list-item
                    role="listitem"
                    class="list-item"
                    *ngIf="
                      params?.currentUser &&
                      (params?.currentUser?.keyedAuthorities['ALL'] ||
                        params?.currentUser?.keyedAuthorities[
                          'US_FORM_REQUEST'
                        ] ||
                        params?.currentUser?.keyedAuthorities[
                          'US_FORM_APPROVE'
                        ] ||
                        params?.currentUser?.keyedAuthorities[
                          'US_FORM_REQUESTS_VIEW'
                        ])
                    "
                    routerLinkActive="active-menu-item"
                    [routerLink]="'reporting-tools/request'"
                    >{{ 'Form requests' | translate }}</mat-list-item
                  >

                  <!-- <mat-list-item
                    role="listitem"
                    class="list-item"
                    routerLinkActive="active-menu-item"
                    [routerLink]="'reports'"
                    >Reports</mat-list-item
                  > -->
                  <mat-list-item
                    role="listitem"
                    class="list-item"
                    *ngIf="
                      params?.currentUser &&
                      (params?.currentUser?.keyedAuthorities['ALL'] ||
                        params?.currentUser?.keyedAuthorities[
                          'US_USER_ACCOUNT_REQUEST'
                        ] ||
                        params?.currentUser?.keyedAuthorities[
                          'US_USER_ACCOUNT_APPROVE'
                        ] ||
                        params?.currentUser?.keyedAuthorities[
                          'US_PASSWORD_CHANGE'
                        ] ||
                        params?.currentUser?.keyedAuthorities[
                          'US_ACTIVATE_ACCOUNT'
                        ] ||
                        params?.currentUser?.keyedAuthorities[
                          'US_DEACTIVATE_ACCOUNT'
                        ] ||
                        params?.currentUser?.keyedAuthorities['F_USER_VIEW'])
                    "
                    routerLinkActive="active-menu-item"
                    [routerLink]="'user-accounts'"
                    >{{ 'User accounts' | translate }}</mat-list-item
                  >

                  <mat-list-item
                    *ngIf="
                      params?.currentUser &&
                      (params?.currentUser?.keyedAuthorities['ALL'] ||
                        params?.currentUser?.keyedAuthorities[
                          'US_VALIDATION_RULE_REQUEST'
                        ] ||
                        params?.currentUser?.keyedAuthorities[
                          'US_VALIDATION_RULE_APPROVE'
                        ])
                    "
                    role="listitem"
                    class="list-item"
                    routerLinkActive="active-menu-item"
                    [routerLink]="'validation-rules-request'"
                    >{{ 'Validation Rules request' | translate }}</mat-list-item
                  >
                  <!-- <mat-list-item
                    *ngIf="
                      params?.currentUser?.userGroupsKeyed[
                        params?.systemSettings?.feedbackRecipients?.id
                      ]
                    "
                    role="listitem"
                    class="list-item"
                    routerLinkActive="active-menu-item"
                    [routerLink]="'statistics'"
                    >{{ 'Statistics' | translate }}</mat-list-item
                  > -->
                </mat-list>
              </div>
            </mat-drawer>
            <mat-drawer-content>
              <div class="drawer-contents-container p-2 ml-2">
                <div class="w-100 d-flex justify-content-end">
                  <select
                    id="locale-selection"
                    (change)="onChangeLanguage($event)"
                  >
                    <option value="sw">Swahili</option>
                    <option value="en">English</option>
                    <option value="fr">France</option>
                    <option value="rw">Rwanda</option>
                  </select>
                </div>
                <mat-list role="list" class="top-menu">
                  <mat-list-item
                    role="listitem"
                    class="list-item"
                    routerLinkActive="active-menu-item"
                    *ngIf="
                      params?.currentUser &&
                      (params?.currentUser?.keyedAuthorities['ALL'] ||
                        params?.currentUser?.keyedAuthorities[
                          'US_FORM_REQUEST'
                        ] ||
                        params?.currentUser?.keyedAuthorities[
                          'US_FORM_APPROVE'
                        ] ||
                        params?.currentUser?.keyedAuthorities[
                          'US_FORM_REQUESTS_VIEW'
                        ])
                    "
                    [routerLink]="'reporting-tools/request'"
                    >{{ 'Form requests' | translate }}</mat-list-item
                  >
                  <!-- <mat-list-item
                    role="listitem"
                    class="list-item"
                    routerLinkActive="active-menu-item"
                    [routerLink]="'statistics'"
                    >{{ 'Statistics' | translate }}</mat-list-item
                  > -->
                  <!-- <mat-list-item
                    role="listitem"
                    class="list-item"
                    routerLinkActive="active-menu-item"
                    [routerLink]="'request'"
                    [disabled]="true"
                    >Account request</mat-list-item
                  > -->
                  <mat-list-item
                    role="listitem"
                    routerLinkActive="active-menu-item"
                    class="list-item"
                    [disabled]="true"
                    *ngIf="
                      params?.currentUser &&
                      (params?.currentUser?.keyedAuthorities['ALL'] ||
                        params?.currentUser?.keyedAuthorities[
                          'US_USER_ACCOUNT_REQUEST'
                        ] ||
                        params?.currentUser?.keyedAuthorities[
                          'US_USER_ACCOUNT_APPROVE'
                        ] ||
                        params?.currentUser?.keyedAuthorities[
                          'US_PASSWORD_CHANGE'
                        ] ||
                        params?.currentUser?.keyedAuthorities[
                          'US_ACTIVATE_ACCOUNT'
                        ] ||
                        params?.currentUser?.keyedAuthorities[
                          'US_DEACTIVATE_ACCOUNT'
                        ] ||
                        params?.currentUser?.keyedAuthorities['F_USER_VIEW'])
                    "
                    [routerLink]="'user-accounts'"
                    >{{ 'User account' | translate }}</mat-list-item
                  >
                  <mat-list-item
                    *ngIf="
                      params?.currentUser &&
                      (params?.currentUser?.keyedAuthorities['ALL'] ||
                        params?.currentUser?.keyedAuthorities[
                          'US_VALIDATION_RULE_REQUEST'
                        ] ||
                        params?.currentUser?.keyedAuthorities[
                          'US_VALIDATION_RULE_APPROVE'
                        ])
                    "
                    role="listitem"
                    class="list-item"
                    routerLinkActive="active-menu-item"
                    [routerLink]="'validation-rules-request'"
                    >{{ 'Validation Rules request' | translate }}</mat-list-item
                  >
                </mat-list>
                <div class="contents-container">
                  <router-outlet></router-outlet>
                </div>
              </div>
            </mat-drawer-content>
          </mat-drawer-container>
        </div>
      </div>
    </div>
  </div>
</div>
