<div
  class="requests-list-container"
  *ngIf="{ allDataForUserSupport: allDataForUserSupport$ | async } as params"
>
  <mat-progress-bar
    mode="indeterminate"
    *ngIf="!params?.allDataForUserSupport"
  ></mat-progress-bar>
  <div class="p-2">
    <div class="w-100 mt-2">
      <mat-form-field class="w-50">
        <mat-label>{{ 'Search' | translate }} </mat-label>
        <mat-icon matPrefix>search</mat-icon>
        <input matInput [(ngModel)]="searchingText" />
      </mat-form-field>
    </div>
    <div class="w-100" style="overflow: auto">
      <table class="table table-striped table-bordered mat-elevation-z1 p-2">
        <thead class="custom-header-bg">
          <tr>
            <th style="width: 15px">{{ 'SN' | translate }}</th>
            <th>{{ 'Request' | translate }}</th>
            <th>{{ 'Date' | translate }}</th>
            <th style="width: 200px">{{ 'Actions' | translate }}</th>
          </tr>
        </thead>
        <tbody *ngIf="params?.allDataForUserSupport">
          <ng-container
            *ngIf="
              (
                params?.allDataForUserSupport?.data
                | FilterFormRequests
                  : 'status'
                  : 'REJECTED'
                  : null
                  : searchingText
              )?.length > 0
            "
          >
            <ng-container
              *ngFor="
                let dataRow of params?.allDataForUserSupport?.data
                  | FilterFormRequests
                    : 'status'
                    : 'REJECTED'
                    : null
                    : searchingText;
                let count = index
              "
            >
              <tr>
                <td>
                  {{ count + 1 }}
                </td>
                <td>
                  <div [innerHTML]="dataRow?.action"></div>
                </td>
                <td>
                  {{ dataRow?.timeSinceResponseSent }}
                </td>
                <td>
                  <button
                    class="details-toggle"
                    mat-stroked-button
                    (click)="toggleViewMore($event, dataRow)"
                  >
                    {{
                      (moreOpenedDetails[dataRow?.id] ? 'Back' : 'View Details')
                        | translate
                    }}
                  </button>
                </td>
              </tr>
              <tr *ngIf="moreOpenedDetails[dataRow?.id]">
                <td></td>
                <td colspan="100%">
                  <div class="w-100 d-flex justify-content-between">
                    <div style="width: 85%" class="more-contents">
                      <div
                        class="h6"
                        [ngClass]="{ 'text-danger': dataRow?.shouldAlert }"
                      >
                        <span>{{ dataRow?.message?.subject }}</span>
                        <span class="ml-4" *ngIf="dataRow?.user">
                          From {{ dataRow?.user?.displayName }}
                          <span *ngIf="dataRow?.user?.phoneNumber">
                            ({{ dataRow?.user?.phoneNumber }})
                          </span>
                        </span>
                      </div>
                      <div [innerHtml]="dataRow?.message?.message"></div>
                    </div>
                    <div style="width: 15%">
                      <div class="d-flex justify-content-end">
                        <button
                          *ngIf="
                            currentUser?.keyedAuthorities['ALL'] ||
                            currentUser?.keyedAuthorities[
                              'US_USER_ACCOUNT_APPROVE'
                            ]
                          "
                          (click)="
                            onOpenApprovalModal(
                              $event,
                              dataRow,
                              isFeedbackRecepient
                            )
                          "
                          mat-stroked-button
                          class="btn-success mt-5 ml-2"
                        >
                          {{ 'Approve' | translate }}
                        </button>
                        <!-- <button
                          (click)="onOpenRejectModal($event, dataRow)"
                          mat-stroked-button
                          class="btn-danger mt-5 ml-2"
                        >
                          Reject
                        </button> -->
                      </div>
                    </div>
                  </div>
                </td>
              </tr>
            </ng-container>
          </ng-container>
          <ng-container
            *ngIf="
              (
                params?.allDataForUserSupport?.data
                | FilterFormRequests
                  : 'status'
                  : 'REJECTED'
                  : null
                  : searchingText
              )?.length == 0
            "
          >
            <tr>
              <td colspan="100%">
                <div class="alert alert-warning" role="alert">
                  {{ 'No Request is available' | translate }}
                </div>
              </td>
            </tr>
          </ng-container>
        </tbody>
      </table>
    </div>
  </div>
</div>
