<div class="loading-overlay" *ngIf="savingData">
  <div class="text-center">
    <div>{{ params?.translations['Saving'] || 'Saving' }} ....</div>
    <div class="mt-3 d-flex justify-content-center w-100">
      <mat-spinner diameter="50" strokeWidth="2"></mat-spinner>
    </div>
  </div>
</div>

<ng-container *ngIf="!savingData && !savedData">
  <ng-container
    *ngIf="{
      reportingToolDetails: reportingToolDetails$ | async,
      allDataForUserSupport: allDataForUserSupport$ | async,
      translations: translations$ | async
    } as params"
  >
    <h2 mat-dialog-title>
      {{ params?.translations['Assign or Remove Facilities for'] || 'Assign or Remove Facilities for' }}
      {{
        dialogData?.dataSet?.name
          ? dialogData?.dataSet?.name
          : dialogData?.reportingTool?.name
      }}
    </h2>
    <mat-dialog-content class="mat-typography">
      <mat-progress-bar
        mode="indeterminate"
        *ngIf="!params?.reportingToolDetails || !params?.allDataForUserSupport"
      ></mat-progress-bar>
      <app-selection-filter
        *ngIf="params?.reportingToolDetails && params?.allDataForUserSupport"
        [reportingToolDetails]="params?.reportingToolDetails"
        [allDataForUserSupport]="params?.allDataForUserSupport"
        (selectedOus)="onGetSelectedOus($event, params?.reportingToolDetails)"
      ></app-selection-filter>
      <div class="w-100 d-flex justify-content-end mt-2">
        <button mat-stroked-button (click)="onClose($event)">
          {{ params?.translations['Close'] || 'Close' }}
        </button>
        <button
          class="ml-2"
          color="primary"
          mat-flat-button
          [disabled]="
            !assignmentDetails ||
            (assignmentDetails?.deletions?.length === 0 &&
              assignmentDetails?.additions?.length === 0)
          "
          (click)="
            saveRequest(
              $event,
              selectedOrgUnitItems,
              dialogData?.currentUser,
              params?.reportingToolDetails
            )
          "
        >
          {{ params?.translations['Send'] || 'Send' }}
        </button>
      </div>

      <div *ngIf="savedData">
        <p class="success-message">
          {{ params?.translations['Successfully sent form request'] || 'Successfully sent form request' }}
        </p>
      </div>
    </mat-dialog-content>
    <mat-dialog-actions align="end"> </mat-dialog-actions>
  </ng-container>
</ng-container>
