<div class="loading-overlay" *ngIf="savingData">
  <div class="text-center">
    <div>{{ 'Saving' | translate }} ....</div>
    <div class="mt-3 d-flex justify-content-center w-100">
      <mat-spinner diameter="50" strokeWidth="2"></mat-spinner>
    </div>
  </div>
</div>

<div *ngIf="!savingData && !savedData">
  <div
    *ngIf="{
      dataSetDetails: dataSetDetails$ | async,
      allDataForUserSupport: allDataForUserSupport$ | async
    } as params"
  >
    <h4>
      {{ 'Assign or Remove Facilities for' | translate }}
      {{ dialogData?.dataSet?.name }}
    </h4>
    <mat-progress-bar
      mode="indeterminate"
      *ngIf="!params?.dataSetDetails || !params?.allDataForUserSupport"
    ></mat-progress-bar>
    <app-selection-filter
      *ngIf="params?.dataSetDetails && params?.allDataForUserSupport"
      [dataSetDetails]="params?.dataSetDetails"
      [allDataForUserSupport]="params?.allDataForUserSupport"
      (selectedOus)="onGetSelectedOus($event, params?.dataSetDetails)"
    ></app-selection-filter>
    <div class="w-100 d-flex justify-content-end mt-2">
      <button mat-button (click)="onClose($event)">
        {{ 'Close' | translate }}
      </button>
      <button
        class="ml-2"
        mat-stroked-button
        [disabled]="
          !assignmentDetails ||
          (assignmentDetails?.deletions?.length === 0 &&
            assignmentDetails?.additions?.length === 0)
        "
        (click)="
          saveRequest($event, selectedOrgUnitItems, dialogData?.currentUser)
        "
      >
        {{ 'Send' | translate }}
      </button>
    </div>

    <div *ngIf="savedData">
      <p class="success-message">
        {{ 'Successfully sent form request' | translate }}
      </p>
    </div>
  </div>
</div>
