<div class="w-100" mat-dialog-title> Update User Organisation Unit [Under Construction]</div>
<mat-dialog-content>
  <div class="row">
    <div class="col-md-6 col-sx-12">
      <div>
        <div class="h5">Data entry</div>
        <ngx-dhis2-org-unit-filter
          [orgUnitFilterConfig]="orgUnitFilterConfig"
          [selectedOrgUnitItems]="selectedOrgUnitItems"
          (orgUnitUpdate)="onOrgUnitUpdate($event, 'UPDATE')"
          (orgUnitClose)="onOrgUnitUpdate($event, 'CLOSE')"
        >
        </ngx-dhis2-org-unit-filter>
      </div>
    </div>
    <div class="col-md-6 col-sx-12">
      <div>
        <div class="h5">Report</div>
        <ngx-dhis2-org-unit-filter
          [orgUnitFilterConfig]="orgUnitFilterConfig"
          [selectedOrgUnitItems]="selectedOrgUnitItems"
          (orgUnitUpdate)="onOrgUnitUpdate($event, 'UPDATE')"
          (orgUnitClose)="onOrgUnitUpdate($event, 'CLOSE')"
        >
        </ngx-dhis2-org-unit-filter>
      </div>
    </div>
  </div>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-stroked-button mat-dialog-close>Cancel</button>
  <button
    mat-flat-button
    color="primary"
    (click)="confirmOrgunitChange()"
  >
    Confirm
  </button>
</mat-dialog-actions>