<div
  *ngIf="{
    currentUser: currentUser$ | async,
    configurations: configurations$ | async,
    systemConfigs: systemConfigs$ | async
  } as params"
>
  <mat-progress-bar
    mode="indeterminate"
    *ngIf="
      !params?.currentUser || !params?.configurations || !params?.systemConfigs
    "
  ></mat-progress-bar>
  <app-indicator-request
    *ngIf="
      params?.currentUser && params?.configurations && params?.systemConfigs
    "
    [currentUser]="params?.currentUser"
    [configurations]="params?.configurations"
    [systemConfigs]="params?.systemConfigs"
  ></app-indicator-request>
</div>
