<div>
  <div class="w-100" *ngIf="!isFeedbackRecepient">
    <mat-tab-group>
      <mat-tab label="Pending requests">
        <ng-template matTabContent>
          <app-requests-list-dashboard
            [configurations]="configurations"
            [currentUser]="currentUser"
          ></app-requests-list-dashboard>
        </ng-template>
      </mat-tab>
      <mat-tab label="Users">
        <ng-template matTabContent>
          <app-users-list></app-users-list>
        </ng-template>
      </mat-tab>
    </mat-tab-group>
  </div>
  <div class="w-100" *ngIf="isFeedbackRecepient">
    <app-user-account-requests-home
      [configurations]="configurations"
    ></app-user-account-requests-home>
  </div>
</div>
