<div>
  <div class="w-100" *ngIf="isFeedbackRecepient">
    <mat-tab-group>
      <mat-tab label="{{ 'Requests' | translate }}">
        <ng-template matTabContent>
          <app-user-account-requests-home
            [configurations]="configurations"
            [currentUser]="currentUser"
            [isFeedbackRecepient]="isFeedbackRecepient"
          ></app-user-account-requests-home>
        </ng-template>
      </mat-tab>
      <mat-tab
        label="{{ 'Requesting' | translate }}"
        *ngIf="
          currentUser?.keyedAuthorities['US_USER_ACCOUNT_REQUEST'] ||
          currentUser?.keyedAuthorities['ALL'] ||
          currentUser?.keyedAuthorities['US_USER_ACCOUNT_REQUESTS_VIEW']
        "
      >
        <ng-template matTabContent>
          <div class="w-100">
            <mat-tab-group>
              <mat-tab
                label="{{ 'Pending requests' | translate }}"
                *ngIf="
                  currentUser?.keyedAuthorities['US_USER_ACCOUNT_REQUEST'] ||
                  currentUser?.keyedAuthorities['ALL'] ||
                  currentUser?.keyedAuthorities['US_USER_ACCOUNT_REQUESTS_VIEW']
                "
              >
                <ng-template matTabContent>
                  <app-requests-list-dashboard
                    *ngIf="
                      currentUser && currentUser?.organisationUnits?.length > 0
                    "
                    [configurations]="configurations"
                    [currentUser]="currentUser"
                    [isSecondTier]="isSecondTier"
                  ></app-requests-list-dashboard>
                </ng-template>
              </mat-tab>
              <mat-tab
                label="{{ 'Users' | translate }}"
                *ngIf="
                  currentUser?.keyedAuthorities['US_USER_ACCOUNT_REQUEST'] ||
                  currentUser?.keyedAuthorities['ALL'] ||
                  currentUser?.keyedAuthorities['US_USER_ACCOUNT_REQUESTS_VIEW']
                "
              >
                <ng-template matTabContent>
                  <app-users-list
                    [systemConfigs]="systemConfigs"
                    [currentUser]="currentUser"
                  ></app-users-list>
                </ng-template>
              </mat-tab>
              <mat-tab
                *ngIf="isSecondTier"
                label="{{ 'Requests' | translate }}"
              >
                <ng-template matTabContent>
                  <app-user-account-requests-home
                    [configurations]="configurations"
                    [currentUser]="currentUser"
                    [isSecondTier]="isSecondTier"
                  ></app-user-account-requests-home>
                </ng-template>
              </mat-tab>
            </mat-tab-group>
          </div>
        </ng-template>
      </mat-tab>
    </mat-tab-group>
  </div>
  <div class="w-100" *ngIf="!isFeedbackRecepient">
    <mat-tab-group>
      <mat-tab
        label="{{ 'Pending requests' | translate }}"
        *ngIf="
          currentUser?.keyedAuthorities['US_USER_ACCOUNT_REQUEST'] ||
          currentUser?.keyedAuthorities['ALL'] ||
          currentUser?.keyedAuthorities['US_USER_ACCOUNT_REQUESTS_VIEW']
        "
      >
        <ng-template matTabContent>
          <app-requests-list-dashboard
            *ngIf="currentUser && currentUser?.organisationUnits?.length > 0"
            [configurations]="configurations"
            [currentUser]="currentUser"
            [isSecondTier]="isSecondTier"
          ></app-requests-list-dashboard>
        </ng-template>
      </mat-tab>
      <mat-tab
        label="{{ 'Users' | translate }}"
        *ngIf="
          currentUser?.keyedAuthorities['US_USER_ACCOUNT_REQUEST'] ||
          currentUser?.keyedAuthorities['ALL'] ||
          currentUser?.keyedAuthorities['US_USER_ACCOUNT_REQUESTS_VIEW']
        "
      >
        <ng-template matTabContent>
          <app-users-list
            [systemConfigs]="systemConfigs"
            [currentUser]="currentUser"
          ></app-users-list>
        </ng-template>
      </mat-tab>
      <mat-tab
        label="{{ 'Requests' | translate }}"
        *ngIf="
          isSecondTier &&
          (currentUser?.keyedAuthorities['US_USER_ACCOUNT_APPROVE'] ||
            currentUser?.keyedAuthorities['ALL'])
        "
      >
        <ng-template matTabContent>
          <app-user-account-requests-home
            [configurations]="configurations"
            [currentUser]="currentUser"
            [isSecondTier]="isSecondTier"
          ></app-user-account-requests-home>
        </ng-template>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
