<!--<div class="request-accounts-container">
  <div class="d-flex justify-contend-left">
    <button mat-icon-button [routerLink]="''" matTooltip="Go to Home page">
      <mat-icon>arrow_back</mat-icon>
    </button>
    <div class="h5 ml-2 mt-2">REQUEST FOR ACCOUNT CREATION</div>
  </div>
  <div class="account-creation-container">
    <div class="row">
      <div class="col-md-8 col-sx-12">
        <app-form
          [fields]="formFields"
          (formUpdate)="onUpdateForm($event)"
        ></app-form>
      </div>
      <div class="col-md-4 col-sx-12">
        <mat-card class="example-card">
          <mat-card-subtitle>Important</mat-card-subtitle>
          <mat-card-title>Attachment</mat-card-title>
          <mat-card-content>
            <p>
              Please attach a signed copy the letter for the accounts you will
              create.
            </p>
          </mat-card-content>
          <mat-divider inset></mat-divider>
          <mat-card-actions>
            <button mat-button>Upload letter</button>
            <button mat-button>Template</button>
            <button mat-button>Upload users</button>
          </mat-card-actions>
        </mat-card>
      </div>
      <div class="col-12">
        <div class="d-flex justify-content-end">
          <button mat-stroked-button>Cancel</button>
          <button mat-stroked-button class="ml-2">Save & Add new</button>
          <button mat-stroked-button class="ml-2">Save & Exit</button>
        </div>
      </div>
    </div>
  </div>
</div> -->

<div class="new-user-request-container">
  <div class="d-flex justify-contend-left">
    <button
      mat-icon-button
      [routerLink]="'/user-accounts/list'"
      matTooltip="Go to Home page"
    >
      <mat-icon>arrow_back</mat-icon>
    </button>
    <div class="h5 ml-2 mt-2">User Account Request</div>
  </div>
  <div class="p-3" *ngIf="pageReady">
    <div class="row">
      <div class="col-md-4 col-sx-12">
        <div>
          <div class="h5">Demographic</div>
          <app-form
            *ngIf="formFields"
            [fields]="formFields"
            (formUpdate)="onUpdateDemographicForm($event)"
          ></app-form>
        </div>
      </div>
      <div class="col-md-8">
        <div class="row">
          <div class="col-md-6 col-sx-12">
            <div>
              <div class="h5">Data entry</div>
              <ngx-dhis2-org-unit-filter
                [orgUnitFilterConfig]="orgUnitFilterConfigForDataEntry"
                [selectedOrgUnitItems]="selectedOrgUnitItemsForDataEntry"
                (orgUnitUpdate)="onOrgUnitUpdate($event, 'ENTRY')"
              >
              </ngx-dhis2-org-unit-filter>
            </div>
          </div>
          <div class="col-md-6 col-sx-12">
            <div>
              <div class="h5">Report</div>
              <ngx-dhis2-org-unit-filter
                [orgUnitFilterConfig]="orgUnitFilterConfigForReport"
                [selectedOrgUnitItems]="selectedOrgUnitItemsForReport"
                (orgUnitUpdate)="onOrgUnitUpdate($event, 'REPORT')"
              >
              </ngx-dhis2-org-unit-filter>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12 mt-4">
            <div class="h5">Access</div>
            <app-form
              [fields]="accessFormFields"
              [isFormHorizontal]="true"
              (formUpdate)="onUpdateAccessControlForm($event)"
            ></app-form>
          </div>
        </div>
      </div>
    </div>
    <p class="text-right" *ngIf="shouldConfirm">Please confirm</p>
    <div class="row d-flex justify-content-end mt-2" *ngIf="!readyToSave">
      <!-- [disabled]="!isDemographicFormValid || !isAccessControlFormValid" -->
      <button mat-flat-button color="primary" (click)="onNext($event)">
        Next
      </button>
      <button
        mat-flat-button
        color="primary"
        class="ml-2"
        (click)="onFinish($event)"
      >
        Finish request
      </button>
    </div>
    <div class="row d-flex justify-content-end mt-2">
      <button mat-stroked-button (click)="onClear($event)">Clear</button>
      <button
        mat-flat-button
        color="primary"
        [disabled]="!readyToSave"
        (click)="onSave($event, shouldConfirm)"
        class="ml-2"
      >
        {{ shouldConfirm ? 'Confirm' : 'Send' }}
      </button>
    </div>
  </div>
</div>
