<div class="new-user-request-container">
  <div class="col-12 d-flex align-items-center mb-3">
    <button mat-flat-button color="primary" routerLink="/user-accounts/list">
      <mat-icon>arrow_back</mat-icon>
      <span class="ml-2">{{ 'Back to Request List' | translate }}</span>
    </button>
    <div class="ml-3 h5 report-title">
      {{ 'User Account Request' | translate }}
    </div>
  </div>

  <div class="loading-overlay" *ngIf="saving">
    <div class="text-center">
      <div>{{ 'Sending request' | translate }}...</div>
      <div class="mt-3 d-flex justify-content-center w-100">
        <mat-spinner diameter="50" strokeWidth="2"></mat-spinner>
      </div>
    </div>
  </div>
  <div class="p-3" *ngIf="pageReady">
    <div class="row" *ngIf="!readyToSend">
      <div class="col-md-4 col-sx-12">
        <div>
          <div class="h5">{{ 'Demographic' | translate }}</div>
          <app-form
            *ngIf="formFields"
            [fields]="formFields"
            (formUpdate)="onUpdateDemographicForm($event)"
          ></app-form>
        </div>
      </div>
      <div class="col-md-8">
        <div class="row">
          <div class="col-md-6 col-sx-12">
            <div>
              <div class="h5">{{ 'Data entry' | translate }}</div>
              <ngx-dhis2-org-unit-filter
                *ngIf="showOrgUnit"
                [orgUnitFilterConfig]="orgUnitFilterConfigForDataEntry"
                [selectedOrgUnitItems]="selectedOrgUnitItemsForDataEntry"
                (orgUnitUpdate)="onOrgUnitUpdate($event, 'ENTRY')"
              >
              </ngx-dhis2-org-unit-filter>
            </div>
          </div>
          <div class="col-md-6 col-sx-12">
            <div>
              <div class="h5">{{ 'Report' | translate }}</div>
              <ngx-dhis2-org-unit-filter
                *ngIf="showOrgUnit"
                [orgUnitFilterConfig]="orgUnitFilterConfigForReport"
                [selectedOrgUnitItems]="selectedOrgUnitItemsForReport"
                (orgUnitUpdate)="onOrgUnitUpdate($event, 'REPORT')"
              >
              </ngx-dhis2-org-unit-filter>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12 mt-4">
            <div class="h5">{{ 'Access' | translate }}</div>
            <app-form
              [fields]="accessFormFields"
              [isFormHorizontal]="true"
              (formUpdate)="onUpdateAccessControlForm($event)"
            ></app-form>
          </div>
        </div>
      </div>
    </div>
    <div class="w-100" *ngIf="readyToSend">
      <table class="table">
        <thead>
          <tr>
            <th>{{ 'SN' | translate }}</th>
            <th>{{ 'First name' | translate }}</th>
            <!-- <th>Middle name</th> -->
            <th>{{ 'Last name' | translate }}</th>
            <th>{{ 'Email' | translate }}</th>
            <th>{{ 'Phone number' | translate }}</th>
            <th>{{ 'Option' | translate }}</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of formDataToStoreLocally; let count = index">
            <td>
              {{ count + 1 }}
            </td>
            <td>
              {{ user?.firstName }}
            </td>
            <!-- <td>
              {{ user?.middleName }}
            </td> -->
            <td>
              {{ user?.lastName }}
            </td>
            <td>
              {{ user?.email }}
            </td>
            <td>
              {{ user?.phoneNumber }}
            </td>
            <td>
              <button
              *ngIf="readyToSend"
              mat-stroked-button
              color="primary"
              (click)="onEdit(user?.id)"
              class="ml-2"
            >
              {{ 'Edit' | translate }}
            </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <p class="text-right" *ngIf="shouldConfirm">
      {{ 'Please confirm' | translate }}
    </p>
    <div class="row d-flex justify-content-end mt-2">
      <!-- [disabled]="!isDemographicFormValid || !isAccessControlFormValid" -->
      <!-- <button
        *ngIf="!readyToSend"
        [disabled]="prevIndex === 0"
        mat-stroked-button
        color="primary"
        (click)="onPrev($event)"
      >
        Previous
      </button> -->
      <button
        *ngIf="!readyToSend && !onEditing"
        mat-flat-button
        [disabled]="
          !isAccessControlFormValid ||
          selectedOrgUnitItemsForDataEntry?.length == 0 ||
          selectedOrgUnitItemsForReport?.length == 0 ||
          !isDemographicFormValid
        "
        color="primary"
        class="ml-2"
        (click)="onNext($event)"
      >
        {{ 'Add' | translate }}
    </button>
      <button
        *ngIf="onEditing"
        mat-flat-button
        color="primary"
        class="ml-2"
        (click)="onSubmit($event)"
      >
        {{ 'Save' | translate }}
    </button>
      <button
        *ngIf="!readyToSend"
        [disabled]="formDataToStoreLocally?.length === 0 || formData?.firstName && !onEditing"
        mat-flat-button
        color="primary"
        class="ml-2"
        (click)="onFinish($event)"
      >
        {{ 'Finish request' | translate }}
      </button>
      <button
        *ngIf="readyToSend"
        mat-flat-button
        color="primary"
        (click)="backtoRequest($event)"
      >
        {{ 'Back to request' | translate }}
      </button>
    </div>
    <div class="row d-flex justify-content-end mt-2">
      <button *ngIf="!readyToSend" mat-stroked-button (click)="onClear($event)">
        {{ 'Clear' | translate }}
      </button>
      <button
        *ngIf="readyToSend"
        mat-flat-button
        color="primary"
        [disabled]="!readyToSend"
        (click)="onSend($event)"
        class="ml-2"
      >
        {{ 'Send' | translate }}
      </button>
    </div>
  </div>
</div>
