<!--<div class="request-accounts-container">
  <div class="d-flex justify-contend-left">
    <button mat-icon-button [routerLink]="''" matTooltip="Go to Home page">
      <mat-icon>arrow_back</mat-icon>
    </button>
    <div class="h5 ml-2 mt-2">REQUEST FOR ACCOUNT CREATION</div>
  </div>
  <div class="account-creation-container">
    <div class="row">
      <div class="col-md-8 col-sx-12">
        <app-form
          [fields]="formFields"
          (formUpdate)="onUpdateForm($event)"
        ></app-form>
      </div>
      <div class="col-md-4 col-sx-12">
        <mat-card class="example-card">
          <mat-card-subtitle>Important</mat-card-subtitle>
          <mat-card-title>Attachment</mat-card-title>
          <mat-card-content>
            <p>
              Please attach a signed copy the letter for the accounts you will
              create.
            </p>
          </mat-card-content>
          <mat-divider inset></mat-divider>
          <mat-card-actions>
            <button mat-button>Upload letter</button>
            <button mat-button>Template</button>
            <button mat-button>Upload users</button>
          </mat-card-actions>
        </mat-card>
      </div>
      <div class="col-12">
        <div class="d-flex justify-content-end">
          <button mat-stroked-button>Cancel</button>
          <button mat-stroked-button class="ml-2">Save & Add new</button>
          <button mat-stroked-button class="ml-2">Save & Exit</button>
        </div>
      </div>
    </div>
  </div>
</div> -->

<div class="new-user-request-container">
  <!-- <div class="d-flex justify-contend-left">
    <button
      mat-icon-button
      [routerLink]="'/user-accounts/list'"
      matTooltip="Go to Home page"
    >
      <mat-icon>arrow_back</mat-icon>
    </button>
    <div class="h5 ml-2 mt-2">{{ 'User Account Request' | translate }}</div>
  </div> -->

  <div class="col-12 d-flex align-items-center mb-3">
    <button mat-flat-button color="primary" routerLink="/user-accounts/list">
      <mat-icon>arrow_back</mat-icon>
      <span class="ml-2">{{ 'Back to Request List' | translate }}</span>
    </button>
    <div class="ml-3 h5 report-title">
      {{ 'User Account Request' | translate }}
    </div>
  </div>

  <div class="loading-overlay" *ngIf="saving">
    <div class="text-center">
      <div>{{ 'Sending request' | translate }}...</div>
      <div class="mt-3 d-flex justify-content-center w-100">
        <mat-spinner diameter="50" strokeWidth="2"></mat-spinner>
      </div>
    </div>
  </div>
  <div class="p-3" *ngIf="pageReady">
    <div class="row" *ngIf="!readyToSave">
      <div class="col-md-4 col-sx-12">
        <div>
          <div class="h5">{{ 'Demographic' | translate }}</div>
          <app-form
            *ngIf="formFields"
            [fields]="formFields"
            (formUpdate)="onUpdateDemographicForm($event)"
          ></app-form>
        </div>
      </div>
      <div class="col-md-8">
        <div class="row">
          <div class="col-md-6 col-sx-12">
            <div>
              <div class="h5">{{ 'Data entry' | translate }}</div>
              <ngx-dhis2-org-unit-filter
                *ngIf="showOrgUnit"
                [orgUnitFilterConfig]="orgUnitFilterConfigForDataEntry"
                [selectedOrgUnitItems]="selectedOrgUnitItemsForDataEntry"
                (orgUnitUpdate)="onOrgUnitUpdate($event, 'ENTRY')"
              >
              </ngx-dhis2-org-unit-filter>
            </div>
          </div>
          <div class="col-md-6 col-sx-12">
            <div>
              <div class="h5">{{ 'Report' | translate }}</div>
              <ngx-dhis2-org-unit-filter
                *ngIf="showOrgUnit"
                [orgUnitFilterConfig]="orgUnitFilterConfigForReport"
                [selectedOrgUnitItems]="selectedOrgUnitItemsForReport"
                (orgUnitUpdate)="onOrgUnitUpdate($event, 'REPORT')"
              >
              </ngx-dhis2-org-unit-filter>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12 mt-4">
            <div class="h5">{{ 'Access' | translate }}</div>
            <app-form
              [fields]="accessFormFields"
              [isFormHorizontal]="true"
              (formUpdate)="onUpdateAccessControlForm($event)"
            ></app-form>
          </div>
        </div>
      </div>
    </div>
    <div class="w-100" *ngIf="readyToSave">
      <table class="table">
        <thead>
          <tr>
            <th>{{ 'SN' | translate }}</th>
            <th>{{ 'First name' | translate }}</th>
            <!-- <th>Middle name</th> -->
            <th>{{ 'Last name' | translate }}</th>
            <th>{{ 'Email' | translate }}</th>
            <th>{{ 'Phone number' | translate }}</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of formDataToStoreLocally; let count = index">
            <td>
              {{ count + 1 }}
            </td>
            <td>
              {{ user?.firstName }}
            </td>
            <!-- <td>
              {{ user?.middleName }}
            </td> -->
            <td>
              {{ user?.lastName }}
            </td>
            <td>
              {{ user?.email }}
            </td>
            <td>
              {{ user?.phoneNumber }}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <p class="text-right" *ngIf="shouldConfirm">
      {{ 'Please confirm' | translate }}
    </p>
    <div class="row d-flex justify-content-end mt-2">
      <!-- [disabled]="!isDemographicFormValid || !isAccessControlFormValid" -->
      <!-- <button
        *ngIf="!readyToSave"
        [disabled]="prevIndex === 0"
        mat-stroked-button
        color="primary"
        (click)="onPrev($event)"
      >
        Previous
      </button> -->
      <button
        *ngIf="!readyToSave"
        mat-flat-button
        [disabled]="
          !isAccessControlFormValid ||
          selectedOrgUnitItemsForDataEntry?.length == 0 ||
          selectedOrgUnitItemsForReport?.length == 0
        "
        color="primary"
        class="ml-2"
        (click)="onNext($event)"
      >
        {{ 'Add' | translate }}
      </button>
      <button
        *ngIf="!readyToSave"
        [disabled]="formDataToStoreLocally?.length === 0 || formData?.firstName"
        mat-flat-button
        color="primary"
        class="ml-2"
        (click)="onFinish($event)"
      >
        {{ 'Finish request' | translate }}
      </button>
      <button
        *ngIf="readyToSave"
        mat-flat-button
        color="primary"
        (click)="backtoRequest($event)"
      >
        {{ 'Back to request' | translate }}
      </button>
    </div>
    <div class="row d-flex justify-content-end mt-2">
      <button mat-stroked-button (click)="onClear($event)">
        {{ 'Clear' | translate }}
      </button>
      <button
        mat-flat-button
        color="primary"
        [disabled]="!readyToSave"
        (click)="onSave($event)"
        class="ml-2"
      >
        {{ 'Send' | translate }}
      </button>
    </div>
  </div>
</div>
