<div
  class="tools-assignment-container"
  *ngIf="{
    currentUser: currentUser$ | async,
    configurations: configurations$ | async
  } as params"
>
  <div *ngIf="params?.currentUser && params?.configurations">
    <app-feedback-container
      [currentUser]="params?.currentUser"
      [configurations]="params?.configurations"
      (dataStoreChanged)="onDataStoreChange($event)"
    ></app-feedback-container>
  </div>

  <mat-progress-bar
    mode="indeterminate"
    *ngIf="!params?.currentUser || !params?.configurations"
  ></mat-progress-bar>
</div>
