<div class="w-100">
  <div
    class="w-100"
    *ngIf="
      currentUser?.keyedAuthorities['ALL'] ||
      currentUser?.keyedAuthorities['US_VALIDATION_RULE_REQUESTS_VIEW'] ||
      currentUser?.keyedAuthorities['US_VALIDATION_RULE_APPROVE']
    "
  >
    <mat-tab-group>
      <mat-tab
        label="{{ 'Requests' | translate }}"
        *ngIf="currentUser?.keyedAuthorities['ALL']"
      >
        <ng-template matTabContent>
          <app-requested-validation-rules
            [currentUser]="currentUser"
          ></app-requested-validation-rules>
        </ng-template>
      </mat-tab>
      <mat-tab
        label="{{ 'Requesting' | translate }}"
        *ngIf="currentUser?.keyedAuthorities['ALL']"
      >
        <ng-template matTabContent>
          <div class="p-3">
            <app-format-custom-form
              [systemConfigs]="systemConfigs"
              [configurations]="configurations"
              [currentUser]="currentUser"
            ></app-format-custom-form>
          </div>
        </ng-template>
      </mat-tab>
    </mat-tab-group>
  </div>
  <!-- <div
    class="w-100"
    *ngIf="
      currentUser?.keyedAuthorities['ALL'] ||
      currentUser?.keyedAuthorities['US_VALIDATION_RULE_REQUESTS_VIEW']
    "
  >
    <app-requested-validation-rules
      [currentUser]="currentUser"
    ></app-requested-validation-rules>
  </div> -->
  <div class="w-100" *ngIf="canRequest && !canApprove">
    <app-format-custom-form
      [systemConfigs]="systemConfigs"
      [configurations]="configurations"
      [currentUser]="currentUser"
    ></app-format-custom-form>
  </div>
  <div
    class="alert alert-warning"
    role="alert"
    *ngIf="!canRequest && !canApprove"
  >
    {{ 'You do not access to request or approve validation rules' | translate }}
  </div>
</div>
