<!-- <h2 mat-dialog-title color="primary">{{ 'Update Password'}}</h2> -->
<mat-dialog-content class="mat-typography">
  <mat-spinner *ngIf="saving"></mat-spinner>

  <div class="w-100" *ngIf="!saving">
    <p>
      {{ dialogData?.request?.action }}
    </p>
    <div class="d-flex justify-content-end mt-2">
      <button
        (click)="onApprove($event)"
        mat-stroked-button
        class="btn-success mt-5 ml-2"
      >
        Yes
      </button>
      <!-- <button
        (click)="onReject($event)"
        mat-stroked-button
        class="btn-danger mt-5 ml-2"
      >
        No
      </button> -->
    </div>
  </div>
</mat-dialog-content>
