<h2 mat-dialog-title color="primary">{{ data?.header | translate }}</h2>
<mat-dialog-content class="mat-typography">
  <p>
    {{ data?.message | translate }}
  </p>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-stroked-button mat-dialog-close>
    {{ 'Cancel' | translate }}
  </button>
  <button
    mat-flat-button
    class="ml-2"
    color="primary"
    [mat-dialog-close]="true"
    (click)="onConfirm($event)"
  >
    {{ 'Confirm' | translate }}
  </button>
</mat-dialog-actions>
